<app-floating-configurator />
<div
    class="bg-[url('https://shs-components.infopark.io/siemens-healthcare/countries/us/services/cs-workforce-honeycomb/assets/workforce-people-illustration.png')] 
    bg-cover bg-top bg-no-repeat bg-surface-50 dark:bg-surface-950 flex items-center justify-center min-h-screen min-w-screen overflow-hidden">

    <!-- Overlay -->
    <div class="absolute inset-0 bg-black/30 dark:bg-white/30"></div>

    <div class="flex flex-col items-center justify-center" data-aos="flip-right"
        data-aos-easing="ease-out-cubic"
        data-aos-duration="500">
        <div
            style="border-radius: 56px; padding: 0.3rem; background: linear-gradient(180deg, var(--primary-color) 10%, rgba(33, 150, 243, 0) 30%)">
            <div
                class="w-full bg-surface-0 dark:bg-surface-900 py-20 px-8 sm:px-20"
                style="border-radius: 53px">

                <form class="p-3 mt-3" [formGroup]="form"
                    ng-reflect-form="[object Object]"
                    class="ng-untouched ng-pristine ng-invalid">
                    <div
                        class="flex flex-col items-center text-center px-4 animate-fade-in">

                        <!-- Logo -->
                        <img
                            src="assets/images/sapa-logo.png"
                            alt="SAPA Logo"
                            class="w-28 sm:w-32 md:w-36 lg:w-40 h-auto
                   transition-transform duration-300 hover:scale-105" />

                        <!-- Title -->
                        <div class="text-surface-900 dark:text-surface-0
                    text-2xl sm:text-3xl md:text-4xl
                    font-semibold mb-3">
                            Access to <br />
                            <em class="text-primary-500">School Affiliation
                                Program</em>
                        </div>

                        <!-- Subtitle -->
                        <span
                            class="text-sm sm:text-base text-gray-600 dark:text-gray-400">
                            Sign in to continue
                        </span>
                    </div>

                    <div>
                        <label for="email1"
                            class="block text-surface-900 dark:text-surface-0 font-bold mb-2"
                            [class.error]="form.controls['username'].dirty && form.hasError('required', 'username')">
                            Username/Email
                            @if (form.controls['username'].dirty &&
                            form.hasError('required', 'username'))
                            {
                            is required.
                            }
                        </label>
                        <input
                            [class.error]="form.controls['username'].dirty && form.hasError('required', 'username')"
                            pInputText id="username" type="text"
                            placeholder="Username/Email address"
                            formControlName="username" name="username"
                            class="w-full md:w-120 mb-8" />

                        <label for="password"
                            class="block text-surface-900 dark:text-surface-0 font-bold mb-2"
                            [class.error]="form.controls['password'].dirty && form.hasError('required', 'password')">
                            Password
                            @if (form.controls['password'].dirty &&
                            form.hasError('required', 'password'))
                            {
                            is required.
                            }
                        </label>
                        <p-password id="password" placeholder="Password"
                            formControlName="password" name="password"
                            [toggleMask]="true" styleClass="mb-4" [fluid]="true"
                            [feedback]="false"></p-password>

                        <small
                            class="flex flex-row w-full justify-end text-red-500 font-medium  mb-5"
                            (click)="openForgotPassword()">
                            Fotgot Password?
                        </small>

                        <!-- <div class="flex items-center justify-between mt-2 mb-8 gap-8">
                            <div class="flex items-center">
                                <p-checkbox formControlName="rememberMe" binary id="rememberme1" binary
                                    class="mr-2"></p-checkbox>
                                <label for="rememberme1">Remember me</label>
                            </div>
                            <span class="font-medium no-underline ml-2 text-right cursor-pointer text-primary">Forgot
                                password?</span>
                        </div> -->

                        <p-button type="button" label="Sign In"
                            styleClass="w-full" [loading]="isLoading"
                            (click)="onSubmit()" />

                        <div class="mt-4">
                            <p class="text-muted-color font-bold text-center">
                                Don't have Account?
                                <em
                                    class="font-medium no-underline ml-2 text-right cursor-pointer text-primary"
                                    routerLink="/register">Register here!</em>
                            </p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>

<!-- Forgot Password Dialog -->
<p-dialog header="Forgot Password" [(visible)]="ForgotPasswordDialog"
    [modal]="true" [closable]="true"
    [style]="{ width: '400px' }">

    <label for="email1"
        class="block text-surface-900 dark:text-surface-0 font-bold mb-2"
        [class.error]="form.controls['username'].dirty && form.hasError('required', 'username')">
        Please enter your Email or Username to send a password reset link.
        @if (isForgotSubmit && emailOrUsername.trim() === '')
        {
        is required.
        }
    </label>
    <input pInputText class="w-full mb-3" placeholder="Email or Username"
        [(ngModel)]="emailOrUsername" />

    <button pButton label="Forgot" class="w-full" [loading]="isLoading"
        (click)="onSubmitForgotPassword()">
    </button>
</p-dialog>