<p-toast></p-toast>
<div class="flex flex-col md:flex-row gap-8">

    <div class="md:w-4/5">
        <div class="card">
            <p-table #dt [value]="appointments()" [rows]="10" [columns]="cols" [paginator]="true" [showGridlines]="true"
                [globalFilterFields]="['dateSlot','schoolName', 'hospitalName', 'sectionName', 'shiftName', 'status', 'date_Created']"
                [tableStyle]="{ 'min-width': '60rem', 'table-layout': 'fixed' }" [(selection)]="selectAppointments"
                [rowHover]="true" dataKey="appointmentID"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} sections"
                [showCurrentPageReport]="true" [rowsPerPageOptions]="[10, 20, 30]" scrollable="true" scrollHeight="flex"
                (selectionChange)="onAppointmentSelectionChange($event)">

                <ng-template pTemplate="caption">

                    <p-button class="float-left " icon="pi pi-arrow-left" severity="secondary"
                        routerLink="/dashboard/masterlist/hospitals" text raised rounded />

                    <div class="flex row justify-center">

                        <h5 class="m-0">Manage Appoinments</h5>
                    </div>
                    <div class="flex items-center justify-between">
                        <div class="flex row">
                            <p-button label="New" icon="pi pi-plus" severity="primary" class="mr-2"
                                (onClick)="openNew()" />
                            <!-- <p-button severity="secondary" label="Delete" icon="pi pi-trash" outlined
                            (onClick)="deleteSelected()" [disabled]="!selectSchools || !selectSchools.length" /> -->
                        </div>
                        <p-iconfield>
                            <p-inputicon styleClass="pi pi-search" />
                            <input pInputText type="text" [(ngModel)]="filter" (input)="onGlobalFilter(dt)"
                                placeholder="Search..." />
                            @if (filter && filter.length > 0) {
                            <p-inputicon styleClass="pi pi-times cursor-pointer" style="margin-left: -1.5rem;"
                                (click)="clear(dt)" />
                            }
                            <p-button label="Export" class="mx-2" icon="pi pi-upload" severity="info" rounded="true"
                                pTooltip="Export" (onClick)="exportCSV()" />
                            <p-button icon="pi pi-refresh" severity="help" rounded="true" pTooltip="Reload"
                                (click)="loadAppointments()" />
                        </p-iconfield>

                    </div>
                </ng-template>
                <ng-template #header>
                    <tr>
                        <th style="width: 3rem">
                            <p-tableHeaderCheckbox />
                        </th>
                        <th pSortableColumn="dateSlot" style="max-width: 1rem">Date
                            <p-sortIcon field="dateSlot" />
                        </th>
                        <th pSortableColumn="schoolName" style="min-width:3rem">
                            School
                            <p-sortIcon field="schoolName" />
                        </th>
                        <th pSortableColumn="hospitalName" style="min-width:3rem">
                            Hospital
                            <p-sortIcon field="hospitalName" />
                        </th>
                        <th pSortableColumn="sectionName" style="min-width:10rem">
                            Section
                            <p-sortIcon field="sectionName" />
                        </th>
                        <th pSortableColumn="shiftName" style="min-width:3rem">
                            Shift
                            <p-sortIcon field="shiftName" />
                        </th>
                        <th pSortableColumn="status" style="min-width:10rem">
                            Status
                            <p-sortIcon field="status" />
                        </th>
                        <th pSortableColumn="date_Created" style="min-width:10rem">
                            Date Created
                            <p-sortIcon field="date_Created" />
                        </th>
                        <th style="min-width: 5rem">Action</th>
                    </tr>
                </ng-template>
                <ng-template #body let-appointment>
                    <tr>
                        <td style="width: 3rem">
                            <p-tableCheckbox [value]="appointment" />
                        </td>
                        <td style="max-width: 1rem">{{ dateFormat(appointment.dateSlot) }}</td>
                        <td style="min-width: 3rem">{{ appointment.schoolName }}</td>
                        <td style="min-width: 3rem">{{ appointment.hospitalName }}</td>
                        <td style="min-width: 10rem">{{ appointment.sectionName }}</td>
                        <td style="min-width: 3rem">{{ appointment.shiftName }}</td>
                        <td style="min-width: 3rem">
                            <p-tag [value]="getStatus(appointment.status,'value')"
                                [severity]="getStatus(appointment.status,'severirty')"
                                styleClass="dark:bg-surface-900!" />
                            @if (getStatus(appointment.status,'value').toLowerCase() == 'unverified') {
                            <button class="ml-2" (click)="resendVerification(appointment)" pTooltip=" Resend Verification?"
                                tooltipPosition="top"> <i
                                    class="fa-solid fa-paper-plane text-blue-500 hover:animate-bounce transition-colors"></i>
                            </button>
                            }@else if (getStatus(appointment.status,'value').toLowerCase() == 'pending') {
                            <button class="ml-2" (click)="changeStatus(1, appointment)" pTooltip=" Approve Account?"
                                tooltipPosition="top"> <i
                                    class="fa-solid fa-thumbs-up text-blue-500 hover:animate-bounce transition-colors"></i>
                            </button>
                            }
                        </td>
                        <td style="min-width: 3rem">{{ dateFormat(appointment.date_Created) }}</td>
                        <td>
                            <div class="flex flex-row gap-2">
                                @if(appointment.status === 0){
                                <p-button icon="pi pi-trash" severity="danger" [rounded]="true" [outlined]="true"
                                pTooltip="Delete"  (click)="delete(appointment)" />
                                }
                                <p-button icon="pi pi-eye" severity="info" [rounded]="true" [outlined]="true"
                                pTooltip="Show" tooltipPosition="top" (click)="show(appointment)" />
                                <p-button icon="pi pi-times" severity="warn" [rounded]="true" [outlined]="true"
                                pTooltip="Request to Cancel" tooltipPosition="top" (click)="changeStatus(3, appointment)" />
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>


    <!-- SUBMENU -->
    <div class="md:w-1/5">
        <div class="card" [style]="{ height: 'calc(100vh - 12rem)'}">
            <div class="">
                <h5 class="m-0">Sub Component</h5>
                <!-- 
                <ul class="layout-menu">
                    <ng-container *ngFor="let item of subcomponent; let i = index">
                        <li app-menuitem *ngIf="!item.separator" [item]="item" [index]="i" [root]="true"></li>
                        <li *ngIf="item.separator" class="menu-separator"></li>
                    </ng-container>
                </ul>
                 -->
                <p-panelmenu [model]="subcomponent" />
            </div>

            <!-- <div class="h-1/2">
                <div class="font-semibold text-xl mb-4">Properties</div>
                <p-panelmenu [model]="properties" />
            </div> -->
            <!-- <div class="h-1/2">
                <h5 class="m-0">Properties</h5>
                <p-tieredMenu [model]="properties" class="w-full"></p-tieredMenu>
            </div> -->

        </div>
    </div>

</div>

<p-dialog [(visible)]="itemDialog" [style]="{ width: '720px' }" header="Appoinment Details" [modal]="true">
    <ng-template #content>
        <div class="flex flex-col gap-6">
            <form [formGroup]="form" ng-reflect-form="[object Object]">
                <div>
                    <!-- class="appointment-stepper" -->
                    <p-stepper [(value)]="currentStep">
                        <p-step-list>
                            <p-step [value]="1" class="text-red-600">
                                <div class="flex flex-col items-center gap-2">
                                    <i class="fa-regular fa-hospital text-3xl"></i>
                                    <span>Hospital & Section</span>
                                    @if(step1HasError()){
                                    <p-badge value="!" severity="danger" icon="pi pi-exclamation-triangle"
                                        pTooltip="Some fields are missing or required" tooltipPosition="top">
                                    </p-badge>
                                    }
                                </div>
                            </p-step>
                            <p-step [value]="2">
                                <div class="flex flex-col items-center gap-2">
                                    <i class="fa-regular fa-calendar-days text-3xl"></i>
                                    <span>Date & Shift</span>
                                    @if (step2HasError()) {
                                    <p-badge value="!" severity="danger" icon="pi pi-exclamation-triangle"
                                        pTooltip="Some fields are missing or required" tooltipPosition="top">
                                    </p-badge>
                                    }
                                </div>
                            </p-step>
                            <p-step [value]="3">
                                <div class="flex flex-col items-center gap-2">
                                    <i class="fa-regular fa-calendar-check text-3xl"></i>
                                    <span>Confirmation</span>
                                    @if(step3HasError()){
                                    <p-badge value="!" severity="danger" icon="pi pi-exclamation-triangle"
                                        pTooltip="Some fields are missing or required" tooltipPosition="top">
                                    </p-badge>
                                    }
                                </div>
                            </p-step>
                        </p-step-list>

                        <p-step-panels>
                            <p-step-panel [value]="1">
                                <ng-template #content let-activateCallback="activateCallback">
                                    <div class="flex flex-col">

                                        <label for="schools" class="block font-bold mb-3">Schools</label>
                                        <p-select styleClass="w-full" id="schools" [options]="schools"
                                            optionLabel="schoolName" optionValue="schoolID" appendTo="body"
                                            formControlName="schoolID" placeholder="Select School" />

                                        <label for="hospitals" class="block font-bold mb-3">Hospitals</label>
                                        <p-select styleClass="w-full" id="hospitals" [options]="hospitals"
                                            optionLabel="hospitalName" optionValue="hospitalID" appendTo="body"
                                            formControlName="hospitalID"
                                            (onChange)="getAllocationsByHospitalID($event.value)"
                                            placeholder="Select Hospital" />


                                        @if (allocations.length > 0) {

                                        <label for="shifts" class="block font-bold mb-3">Sections</label>
                                        <!-- 
                                        <p-multiSelect styleClass="w-full" formControlName="allocationIDs"
                                            [options]="allocations" optionLabel="sectionName" optionValue="allocationID"
                                            placeholder="Select Section" display="chip" [filter]="true" appendTo="body"
                                            fluid placeholder="Select Section(s)"> 
                                        -->
                                        <p-multiSelect styleClass="w-full" formControlName="allocationIDs"
                                            [options]="allocations" optionLabel="sectionName" optionValue="allocationID"
                                            placeholder="Select Section(s)" display="chip" [filter]="true"
                                            appendTo="body" (onChange)="getSlotsByAllocationIDs($event.value)" fluid>

                                            <ng-template pTemplate="selectedItems" let-selected>
                                                <div class="flex flex-wrap gap-2">
                                                    <div *ngFor="let allocation of selected"
                                                        class="inline-flex items-center py-1 px-2 bg-primary text-white rounded-lg">
                                                        {{ allocation.sectionName }}
                                                    </div>
                                                </div>
                                            </ng-template>

                                            <ng-template pTemplate="item" let-allocation>
                                                <div class="flex items-center gap-2">
                                                    <span>{{ allocation.sectionName }}</span>
                                                    <small class="text-gray-500">({{ allocation.allocation }})</small>
                                                </div>
                                            </ng-template>

                                        </p-multiSelect>
                                        }
                                    </div>

                                    <div class="flex pt-6 justify-end">
                                        <p-button label="Next" icon="pi pi-arrow-right" iconPos="right"
                                            (onClick)="activateCallback(2)" />
                                    </div>
                                </ng-template>
                            </p-step-panel>

                            <p-step-panel [value]="2">
                                <ng-template #content let-activateCallback="activateCallback">
                                    <div class="flex flex-row gap-4 w-full">

                                        <div class="w-full">
                                            <label class="block font-bold flex justify-center items-center">DATE</label>
                                            <full-calendar #fc [options]="calendarOptions"></full-calendar>
                                        </div>

                                        <div class="w-full md:w-1/2 lg:w-1/2 mt-4" *ngIf="selectedDateSlots">
                                            <label
                                                class="block font-bold flex justify-center items-center">SHIFT</label>

                                            <div class="flex flex-wrap gap-2 mt-2">

                                                <div class="w-full mt-4" *ngIf="selectedDateSlots.length > 0">
                                                    <label class="block font-bold">Section</label>

                                                    <p-select [options]="distinctSections" optionLabel="label"
                                                        optionValue="value" appendTo="body" formControlName="sectionID"
                                                        (onChange)="onSectionChange($event)"
                                                        placeholder="Select Section" class="w-full"></p-select>
                                                </div>

                                                @if(!filteredSlots || filteredSlots.length>0){
                                                <div class="w-full mt-4">
                                                    <label class="block font-bold mb-2">Available Shifts</label>

                                                    <!-- <div class="flex flex-col w-full gap-4 px-2 py-2">
                                                        <p-button *ngFor="let shift of filteredShifts"
                                                            [id]="shift.slotID" (onClick)="onShiftSelect(shift)"
                                                            [styleClass]="'relative w-full rounded-lg text-sm px-4 py-2 ' + 
                                                            (form.value.shiftID === shift.shiftID ? 
                                                            'bg-primary text-white' : 
                                                            'bg-teal-700 text-gray-700 hover:bg-slate-300')">

                                                            <div class="flex flex-row items-start leading-tight">
                                                                <span class="font-semibold">
                                                                    {{ shift.shiftName }}
                                                                    <small class="text-m font-semibold opacity-70">
                                                                        ({{ formatTime(shift.startTime) }} - {{
                                                                        formatTime(shift.endTime) }})
                                                                    </small>
                                                                </span>
                                                            </div>
                                                        </p-button>
                                                    </div> -->

                                                    <div class="flex flex-col w-full gap-3 mt-3">

                                                        <div *ngFor="let slot of filteredSlots" class="w-full">
                                                            <div class="flex items-center gap-3 px-4 py-3 rounded-lg border cursor-pointer transition-all duration-200"
                                                                [ngClass]="{'bg-white border-gray-300 text-gray-800 hover:bg-gray-100': form.value.shiftID !== slot.shiftID && slot.slotStatus === 1,
                                                            'bg-red-300 border-red-300 text-white-800': form.value.shiftID !== slot.shiftID && slot.slotStatus === 3, 
                                                            'bg-green-700 border-green-700 text-white': form.value.shiftID === slot.shiftID}">

                                                                <!-- PrimeNG Radio -->
                                                                @if(slot.slotStatus === 3){
                                                                <i class="pi pi-lock"></i>
                                                                }@else{
                                                                <p-radioButton name="shiftGroup" [value]="slot.shiftID"
                                                                    formControlName="shiftID"
                                                                    (onClick)="onShiftSelect(slot)"
                                                                    [inputId]="'shift-' + slot.shiftID"
                                                                    class="scale-110"></p-radioButton>
                                                                }

                                                                <!-- Label -->
                                                                <label [for]="'shift-' + slot.shiftID"
                                                                    class="cursor-pointer font-medium text-sm select-none">
                                                                    {{ formatTime(slot.startTime) }} - {{
                                                                    formatTime(slot.endTime) }}
                                                                </label>

                                                            </div>
                                                        </div>

                                                    </div>


                                                </div>


                                                }
                                                <div *ngIf="filteredSlots.length === 0"
                                                    class="text-gray-500 text-center flex justify-center items-center h-20">
                                                    No yet selected Date and section to view shift slot(s).
                                                </div>

                                            </div>

                                        </div>
                                    </div>

                                    <div class="flex pt-6 justify-between">
                                        <p-button label="Back" severity="secondary" icon="pi pi-arrow-left"
                                            (onClick)="activateCallback(1)" />
                                        <p-button label="Next" icon="pi pi-arrow-right" iconPos="right"
                                            (onClick)="activateCallback(3)" />
                                    </div>
                                </ng-template>
                            </p-step-panel>

                            <p-step-panel [value]="3">
                                <ng-template #content let-activateCallback="activateCallback">

                                    <div class="flex flex-col">
                                        <label class="block font-bold mb-3">Appointment Booking Details</label>
                                    </div>

                                    <ng-container *ngIf="isLoading; else detailsTemplate">
                                        <div class="grid grid-cols-1 gap-4 mt-4">

                                            <div class="flex flex-col gap-1">
                                                <p-skeleton height="1rem"></p-skeleton>
                                                <p-skeleton width="80%" height="1.2rem"></p-skeleton>
                                            </div>

                                            <div class="flex flex-col gap-1">
                                                <p-skeleton height="1rem"></p-skeleton>
                                                <p-skeleton width="70%" height="1.2rem"></p-skeleton>
                                            </div>

                                            <div class="flex flex-col gap-1">
                                                <p-skeleton height="1rem"></p-skeleton>
                                                <p-skeleton width="60%" height="1.2rem"></p-skeleton>
                                            </div>

                                            <div class="flex flex-col gap-1">
                                                <p-skeleton height="1rem"></p-skeleton>
                                                <p-skeleton width="50%" height="1.2rem"></p-skeleton>
                                            </div>
                                        </div>
                                    </ng-container>

                                    <ng-template #detailsTemplate>
                                        <div class="mt-4 p-4 border rounded-xl shadow-sm bg-white">

                                            <table class="w-full text-left border-collapse">
                                                <tbody class="text-sm">

                                                    <tr class="border-b">
                                                        <td class="py-3 font-medium w-40">
                                                            <i class="pi pi-building mr-2 text-gray-600"></i>
                                                            Hospital
                                                        </td>
                                                        <td class="py-3 font-semibold text-gray-900">
                                                            {{ slot.hospitalName }}
                                                        </td>
                                                    </tr>

                                                    <tr class="border-b">
                                                        <td class="py-3 font-medium">
                                                            <i class="pi pi-sitemap mr-2 text-gray-600"></i>
                                                            Section
                                                        </td>
                                                        <td class="py-3 font-semibold">
                                                            {{ slot.sectionName }}
                                                        </td>
                                                    </tr>

                                                    <tr class="border-b">
                                                        <td class="py-3 font-medium">
                                                            <i class="pi pi-calendar mr-2 text-gray-600"></i>
                                                            Date
                                                        </td>
                                                        <td class="py-3 font-semibold">
                                                            {{ slot.dateSlot }}
                                                        </td>
                                                    </tr>

                                                    <tr class="border-b">
                                                        <td class="py-3 font-medium">
                                                            <i class="pi pi-clock mr-2 text-gray-600"></i>
                                                            Shift
                                                        </td>
                                                        <td class="py-3 font-semibold">
                                                            {{ slot.shiftName }}
                                                        </td>
                                                    </tr>

                                                    <tr class="border-b">
                                                        <td class="py-3 font-medium">
                                                            <i class="pi pi-play mr-2 text-gray-600"></i>
                                                            Start Time
                                                        </td>
                                                        <td class="py-3 font-semibold">
                                                            {{ formatTime(slot.startTime) }}
                                                        </td>
                                                    </tr>

                                                    <!-- End Time -->
                                                    <tr>
                                                        <td class="py-3 font-medium">
                                                            <i class="pi pi-stop mr-2 text-gray-600"></i>
                                                            End Time
                                                        </td>
                                                        <td class="py-3 font-semibold">
                                                            {{ formatTime(slot.endTime) }}
                                                        </td>
                                                    </tr>

                                                </tbody>
                                            </table>


                                        </div>

                                        <!-- Button to show Terms & Conditions -->
                                        <div class="flex items-center mt-2">

                                            <p-button label="Terms & Conditions" icon="pi pi-info-circle"
                                                (onClick)="showTerms()" severity="info"
                                                class="p-button-text p-button-sm">
                                            </p-button>
                                            <p-checkbox inputId="agree" formControlName="agree" name="agree"
                                                binary="true">
                                            </p-checkbox>
                                            <label for="agree" class="ml-2"
                                                [ngClass]="{'text-gray-700': !form.get('agree')?.invalid,'text-red-700': 
                                            form.get('agree')?.invalid && (form.get('agree')?.touched || form.get('agree')?.dirty)}">
                                                I have reviewed my booking details and I understand the terms and
                                                conditions.
                                            </label>
                                        </div>

                                    </ng-template>


                                    <!-- Buttons -->
                                    <div class="flex pt-6 justify-between">
                                        <p-button label="Back" icon="pi pi-arrow-left" iconPos="left"
                                            (onClick)="activateCallback(2)" />
                                        <p-button *ngIf="!isLoading && form.get('agree')?.value" label="Confirm"
                                            icon="pi pi-check" iconPos="right" (onClick)="save()" />
                                    </div>

                                </ng-template>
                            </p-step-panel>


                        </p-step-panels>
                    </p-stepper>

                </div>
                <div>
                    <input type="text" pInputText id="userID" name="userID" formControlName="userID" hidden />
                </div>

            </form>
        </div>
    </ng-template>

    <ng-template #footer>
        <p-button label="Cancel" severity="secondary" icon="pi pi-times" text (click)="hideDialog()" />
    </ng-template>
</p-dialog>


<p-dialog header="Appointment Details" [(visible)]="displayDialog" [modal]="true" [closable]="false"
    [style]="{ width: '520px' }" [resizable]="false" [breakpoints]="{ '640px': '95vw' }">

    <div *ngIf="selectedAppointment" class="space-y-4">

        <!-- Card -->
        <div class="bg-white rounded-xl shadow px-6 py-6 space-y-4">

            <!-- School -->
            <div class="flex items-start border-b pb-3 opacity-0 translate-y-4 animate-fadeIn delay-75">
                <i class="fas fa-school mr-3 text-gray-500 text-lg"></i>
                <div class="flex-1">
                    <p class="text-sm text-gray-500">School</p>
                    <p class="font-semibold text-gray-800">{{ selectedAppointment.schoolName }}</p>
                </div>
            </div>

            <!-- Coordinator -->
            <div class="flex items-start border-b pb-3 opacity-0 translate-y-4 animate-fadeIn delay-75">
                <i class="fas fa-user mr-3 text-gray-500 text-lg"></i>
                <div class="flex-1">
                    <p class="text-sm text-gray-500">Coordinator</p>
                    <p class="font-semibold text-gray-800">{{ selectedAppointment.coordinator }}</p>
                </div>
            </div>

            <!-- Hospital & Section -->
            <div class="flex items-start border-b pb-3 opacity-0 translate-y-4 animate-fadeIn delay-150">
                <i class="fas fa-hospital mr-3 text-gray-500 text-lg"></i>
                <div class="flex-1">
                    <p class="text-sm text-gray-500">Hospital & Section</p>
                    <p class="font-semibold text-gray-800">
                        {{ selectedAppointment.hospitalName }} ({{ selectedAppointment.sectionName }})
                    </p>
                </div>
            </div>

            <!-- Date -->
            <div class="flex items-start border-b pb-3 opacity-0 translate-y-4 animate-fadeIn delay-200">
                <i class="fas fa-calendar mr-3 text-gray-500 text-lg"></i>
                <div class="flex-1">
                    <p class="text-sm text-gray-500">Date</p>
                    <p class="font-semibold text-gray-800">
                        {{ dateFormat(selectedAppointment.dateSlot) }}
                    </p>
                </div>
            </div>

            <!-- Shift -->
            <div class="flex items-start border-b pb-3 opacity-0 translate-y-4 animate-fadeIn delay-300">
                <i class="fas fa-clock mr-3 text-gray-500 text-lg"></i>
                <div class="flex-1">
                    <p class="text-sm text-gray-500">Shift</p>
                    <p class="font-semibold text-gray-800">
                        {{ `${selectedAppointment.shiftName} - (${formatTime(selectedAppointment.startTime)} -
                        ${formatTime(selectedAppointment.endTime)})` }}
                    </p>
                </div>
            </div>

            <!-- Status -->
            <div class="flex items-start opacity-0 translate-y-4 animate-fadeIn delay-500">
                <i class="fas fa-info-circle mr-3 text-gray-500 text-lg"></i>
                <div class="flex-1">
                    <p class="text-sm text-gray-500">Status</p>
                    <p class="mt-1">
                        <p-tag [value]="getStatus(selectedAppointment.status, 'value')"
                            [severity]="getStatus(selectedAppointment.status, 'severirty')"
                            styleClass="dark:bg-surface-900!"></p-tag>
                    </p>
                </div>
            </div>

        </div>
    </div>

    <!-- Footer -->
    <ng-template pTemplate="footer">
        <div class="flex flex-row justify-between">
            <p-button *ngIf="selectedAppointment.status == 1" label="Request to Cancel" class="mr-2" severity="warn"
                (click)="changeStatus(3, selectedAppointment)">
            </p-button>
            <p-button label="Close" severity="secondary" (click)="closeDialog()">
            </p-button>
        </div>
    </ng-template>

</p-dialog>

<p-dialog header="Print Appointment(s)" [(visible)]="printDialogVisible" [modal]="true" [draggable]="true"
    [resizable]="true">

    <ng-template pTemplate="content">
        <div class="flex flex-row gap-4 h-full p-4">

            <div class="card filter w-sm">

                <div class="flex flex-col gap-2">
                    <label for="schools" class="font-bold">Schools</label>
                    <p-select styleClass="w-full" id="schools" [options]="schools" optionLabel="schoolName"
                        optionValue="schoolID" appendTo="body" [(ngModel)]="dialogSchool" placeholder="All Schools"
                        [showClear]="true"></p-select>
                </div>

                <div class="flex flex-col gap-2 mt-3">
                    <label class="font-semibold">Date Range</label>
                    <p-datepicker [(ngModel)]="dialogDateRange" class="w-full" [inline]="true" selectionMode="range"
                        dateFormat="yyyy-MM-dd" showIcon="true" placeholder="Select date range"></p-datepicker>
                </div>

                <div class="flex justify-end gap-2 mt-3">
                    <p-button label="Generate" icon="pi pi-check" (onClick)="previewSchedule()"></p-button>
                </div>

            </div>
            <div class="card pdfviewer w-full">

                @if(filteredAppointments.length === 0){
                <p class="text-gray-500 text-center mt-4">Not yet Selected | No Appointment found!</p>
                }@else if(pdfPreviewSrc){
                <div class="flex flex-row gap-2 justify-end">
                    <p-button icon="pi pi-download" severity="info" rounded="true" pTooltip="Download"
                        (onClick)="downloadPdf()" />
                    <p-button icon="pi pi-print" severity="info" rounded="true" pTooltip="Print" (onClick)="print()" />
                </div>

                <iframe class="mt-2 w-full h-full" [src]="pdfPreviewSrc | safeUrl" frameborder="0">
                </iframe>
                }

                @if(isLoading){
                <div class="absolute top-0 left-0 w-full h-full flex justify-center items-center bg-white/50 z-100">
                    <p-progressSpinner style="width:50px; height:50px"></p-progressSpinner>
                </div>
                }
            </div>

        </div>
    </ng-template>

    <!-- Footer -->
    <ng-template pTemplate="footer">
        <div class="flex flex-col justify-end"></div>
        <p-button label="Cancel" severity="secondary" (onClick)="closeDialog()"></p-button>
    </ng-template>

</p-dialog>



<p-confirmdialog [style]="{ width: '450px' }">