<p-toast></p-toast>
<div class="flex flex-col md:flex-row gap-8">

    <div class="md:w-5/6">
        <div class="card">
            <p-table #dt [value]="schools()" [rows]="10" [columns]="cols" [paginator]="true"
                [globalFilterFields]="['schoolID', 'schoolName', 'address', 'coordinator', 'status', 'date_created']"
                [tableStyle]="{ 'min-width': '60rem', 'table-layout': 'fixed' }" [(selection)]="selectSchools"
                [rowHover]="true" dataKey="schoolID"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} sections"
                [showCurrentPageReport]="true" [rowsPerPageOptions]="[10, 20, 30]" scrollable="true" scrollHeight="flex"
                (selectionChange)="onSchoolSelectionChange($event)">

                <ng-template pTemplate="caption">

                    <p-button class="float-left " icon="pi pi-arrow-left" severity="secondary"
                        routerLink="/dashboard/masterlist/hospitals" text raised rounded />

                    <div class="flex row justify-center">

                        <h5 class="m-0">Manage Appoinments</h5>
                    </div>
                    <div class="flex items-center justify-between">
                        <div class="flex row">
                            <p-button label="New" icon="pi pi-plus" severity="primary" class="mr-2"
                                (onClick)="openNew()" />
                            <!-- <p-button severity="secondary" label="Delete" icon="pi pi-trash" outlined
                            (onClick)="deleteSelected()" [disabled]="!selectSchools || !selectSchools.length" /> -->
                        </div>
                        <p-iconfield>
                            <p-inputicon styleClass="pi pi-search" />
                            <input pInputText type="text" [(ngModel)]="filter" (input)="onGlobalFilter(dt)"
                                placeholder="Search..." />
                            @if (filter && filter.length > 0) {
                            <p-inputicon styleClass="pi pi-times cursor-pointer" style="margin-left: -1.5rem;"
                                (click)="clear(dt)" />
                            }
                            <p-button label="Export" class="mx-2" icon="pi pi-upload" severity="info" rounded="true"
                                pTooltip="Export" (onClick)="exportCSV()" />
                            <p-button icon="pi pi-refresh" severity="help" rounded="true" pTooltip="Reload"
                                (click)="loadSchools()" />
                        </p-iconfield>

                    </div>
                </ng-template>
                <ng-template #header>
                    <tr>
                        <th style="width: 3rem">
                            <p-tableHeaderCheckbox />
                        </th>
                        <th pSortableColumn="schoolID" style="max-width: 1rem">School ID
                            <p-sortIcon field="schoolID" />
                        </th>
                        <th pSortableColumn="schoolName" style="min-width:3rem">
                            School
                            <p-sortIcon field="schoolName" />
                        </th>
                        <th pSortableColumn="address" style="min-width:10rem">
                            Address
                            <p-sortIcon field="address" />
                        </th>
                        <th pSortableColumn="coordinator" style="min-width:3rem">
                            Coordinator
                            <p-sortIcon field="coordinator" />
                        </th>
                        <th pSortableColumn="status" style="min-width:10rem">
                            Status
                            <p-sortIcon field="status" />
                        </th>
                        <th pSortableColumn="status" style="min-width:10rem">
                            Code
                            <p-sortIcon field="status" />
                        </th>
                        <th pSortableColumn="date_created" style="min-width:10rem">
                            Date Created
                            <p-sortIcon field="date_created" />
                        </th>
                        <th style="min-width: 5rem">Action</th>
                    </tr>
                </ng-template>
                <ng-template #body let-school>
                    <tr>
                        <td style="width: 3rem">
                            <p-tableCheckbox [value]="school" />
                        </td>
                        <td style="max-width: 1rem">{{ school.schoolID }}</td>
                        <td style="min-width: 3rem">{{ school.schoolName }}</td>
                        <td style="min-width: 10rem">{{ school.address }}</td>
                        <td style="min-width: 3rem">{{ school.createdBy }}</td>
                        <td style="min-width: 3rem">
                            <p-tag [value]="getStatus(school.status,'value')"
                                [severity]="getStatus(school.status,'severirty')" styleClass="dark:bg-surface-900!" />
                        </td>
                        <td style="min-width: 3rem">{{ school.code }}
                            <p-button icon="pi pi-copy cursor-pointer text-gray-600 hover:text-black" [rounded]="true"
                                [outlined]="false" severity="secondary" (click)="copyCode(school.code)" />
                        </td>
                        <td style="min-width: 3rem">{{ school.date_Created }}</td>
                        <td>
                            <div class="flex flex-row gap-2">
                                <p-button icon="pi pi-pencil" [rounded]="true" [outlined]="true"
                                    (click)="edit(school)" />
                                <p-button icon="pi pi-trash" severity="danger" [rounded]="true" [outlined]="true"
                                    (click)="delete(school)" />
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>


    <!-- SUBMENU -->
    <div class="md:w-1/6">
        <div class="card h-200 px-0">
            <div class="h-1/2">
                <h5 class="m-0">Sub Component</h5>

                <ul class="layout-menu">
                    <ng-container *ngFor="let item of subcomponent; let i = index">
                        <li app-menuitem *ngIf="!item.separator" [item]="item" [index]="i" [root]="true"></li>
                        <li *ngIf="item.separator" class="menu-separator"></li>
                    </ng-container>
                </ul>
            </div>

            <div class="h-1/2">
                <div class="font-semibold text-xl mb-4">Properties</div>
                <p-panelmenu [model]="properties" />
            </div>
            <!-- <div class="h-1/2">
                <h5 class="m-0">Properties</h5>
                <p-tieredMenu [model]="properties" class="w-full"></p-tieredMenu>
            </div> -->

        </div>
    </div>

</div>

<p-dialog [(visible)]="itemDialog" [style]="{ width: '720px' }" header="Appoinment Details" [modal]="true">
    <ng-template #content>
        <div class="flex flex-col gap-6">
            <form [formGroup]="form" ng-reflect-form="[object Object]">
                <div>
                    <!-- class="appointment-stepper" -->
                    <p-stepper [(value)]="currentStep">
                        <p-step-list>
                            <p-step [value]="1" class="text-red-600">
                                <div class="flex flex-col items-center gap-2">
                                    <i class="fa-regular fa-hospital text-3xl"></i>
                                    <span>Hospital & Section</span>
                                    @if(step1HasError()){
                                    <p-badge value="!" severity="danger" icon="pi pi-exclamation-triangle"
                                        pTooltip="Some fields are missing or required" tooltipPosition="top">
                                    </p-badge>
                                    }
                                </div>
                            </p-step>
                            <p-step [value]="2">
                                <div class="flex flex-col items-center gap-2">
                                    <i class="fa-regular fa-calendar-days text-3xl"></i>
                                    <span>Date & Shift</span>
                                    @if (step2HasError()) {
                                    <p-badge value="!" severity="danger" icon="pi pi-exclamation-triangle"
                                        pTooltip="Some fields are missing or required" tooltipPosition="top">
                                    </p-badge>
                                    }
                                </div>
                            </p-step>
                            <p-step [value]="3">
                                <div class="flex flex-col items-center gap-2">
                                    <i class="fa-regular fa-calendar-check text-3xl"></i>
                                    <span>Confirmation</span>
                                    @if(step3HasError()){
                                    <p-badge value="!" severity="danger" icon="pi pi-exclamation-triangle"
                                        pTooltip="Some fields are missing or required" tooltipPosition="top">
                                    </p-badge>
                                    }
                                </div>
                            </p-step>
                        </p-step-list>

                        <p-step-panels>
                            <p-step-panel [value]="1">
                                <ng-template #content let-activateCallback="activateCallback">
                                    <div class="flex flex-col">

                                        <label for="hospitals" class="block font-bold mb-3">Hospitals</label>
                                        <p-select styleClass="w-full" id="hospitals" [options]="hospitals"
                                            optionLabel="hospitalName" optionValue="hospitalID" appendTo="body"
                                            formControlName="hospitalID"
                                            (onChange)="getAllocationsByHospitalID($event.value)"
                                            placeholder="Select Hospital" />


                                        @if (allocations.length > 0) {

                                        <label for="shifts" class="block font-bold mb-3">Sections</label>
                                        <!-- 
                                        <p-multiSelect styleClass="w-full" formControlName="allocationIDs"
                                            [options]="allocations" optionLabel="sectionName" optionValue="allocationID"
                                            placeholder="Select Section" display="chip" [filter]="true" appendTo="body"
                                            fluid placeholder="Select Section(s)"> 
                                        -->
                                        <p-multiSelect styleClass="w-full" formControlName="allocationIDs"
                                            [options]="allocations" optionLabel="sectionName" optionValue="allocationID"
                                            placeholder="Select Section(s)" display="chip" [filter]="true"
                                            appendTo="body" (onChange)="getSlotsByAllocationIDs($event.value)" fluid>

                                            <ng-template pTemplate="selectedItems" let-selected>
                                                <div class="flex flex-wrap gap-2">
                                                    <div *ngFor="let allocation of selected"
                                                        class="inline-flex items-center py-1 px-2 bg-primary text-white rounded-lg">
                                                        {{ allocation.sectionName }}
                                                    </div>
                                                </div>
                                            </ng-template>

                                            <ng-template pTemplate="item" let-allocation>
                                                <div class="flex items-center gap-2">
                                                    <span>{{ allocation.sectionName }}</span>
                                                    <small class="text-gray-500">({{ allocation.allocation }})</small>
                                                </div>
                                            </ng-template>

                                        </p-multiSelect>
                                        }


                                    </div>
                                    <div class="flex pt-6 justify-end">
                                        <p-button label="Next" icon="pi pi-arrow-right" iconPos="right"
                                            (onClick)="activateCallback(2)" />
                                    </div>
                                </ng-template>
                            </p-step-panel>

                            <p-step-panel [value]="2">
                                <ng-template #content let-activateCallback="activateCallback">
                                    <div class="flex flex-row gap-4 w-full">

                                        <div class="w-full">
                                            <label class="block font-bold flex justify-center items-center">DATE</label>
                                            <full-calendar #fc [options]="calendarOptions"></full-calendar>
                                        </div>

                                        <div class="w-full md:w-1/2 lg:w-1/2 mt-4" *ngIf="selectedDateSlots">
                                            <label class="block font-bold flex justify-center items-center">SHIFT</label>

                                            <div class="flex flex-wrap gap-2 mt-2">

                                                <div class="w-full mt-4" *ngIf="selectedDateSlots.length > 0">
                                                    <label class="block font-bold">Section</label>

                                                    <p-select [options]="distinctSections" optionLabel="label"
                                                        optionValue="value" appendTo="body" formControlName="sectionID"
                                                        (onChange)="onSectionChange($event)"
                                                        placeholder="Select Section" class="w-full"></p-select>
                                                </div>
                                                <div class="w-full mt-4"
                                                    *ngIf="!filteredShifts || filteredShifts.length>0">
                                                    <label class="block font-bold">Available Shifts</label>

                                                    <div class="flex flex-wrap gap-2" formControlName="shiftID">
                                                        <p-button *ngFor="let shift of filteredShifts"
                                                            (onClick)="onShiftSelect(shift)"
                                                            [styleClass]="'px-4 py-2 rounded-lg text-sm ' + 
                                                            (form.value.shiftID === shift.slotId? 
                                                            'bg-primary text-white': 'bg-slate-200 text-gray-700 hover:bg-slate-300')">
                                                            <ng-template pTemplate="content">
                                                                <div class="flex flex-col items-start leading-tight">
                                                                    <span class="font-semibold">{{ shift.shiftName
                                                                        }}</span>
                                                                    <span class="text-xs opacity-70">
                                                                        {{ formatTime(shift.startTime) }} - {{
                                                                        formatTime(shift.endTime) }}
                                                                    </span>
                                                                </div>
                                                            </ng-template>
                                                        </p-button>
                                                    </div>
                                                </div>
                                                <div *ngIf="filteredShifts.length === 0"
                                                    class="text-gray-500 text-center flex justify-center items-center h-20">
                                                    No yet selected Date and section to view shift(s).
                                                </div>

                                            </div>

                                        </div>
                                    </div>
                                </ng-template>
                            </p-step-panel>


                            <p-step-panel [value]="3">
                                <ng-template #content let-activateCallback="activateCallback">
                                    <div class="flex flex-col h-48">

                                        <label for="date" class="block font-bold mb-3">Confirnmation</label>
                                    </div>
                                </ng-template>
                            </p-step-panel>

                        </p-step-panels>
                    </p-stepper>

                </div>
                <div>
                    <input type="text" pInputText id="userID" name="userID" formControlName="userID" hidden />
                </div>

            </form>
        </div>
    </ng-template>

    <ng-template #footer>
        <p-button label="Cancel" severity="secondary" icon="pi pi-times" text (click)="hideDialog()" />
        <p-button label="Save" icon="pi pi-check" (click)="save()" />
    </ng-template>
</p-dialog>

<!-- 
<p-dialog header="Slots for Selected Date" [(visible)]="slotsModalVisible" [modal]="true" [style]="{width: '600px'}">
    <ng-template pTemplate="content">
        <table class="w-full">
            <thead>
                <tr>
                    <th>Shift</th>
                    <th>Start</th>
                    <th>End</th>
                    <th>Section</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let slot of selectedDateSlots">
                    <td>{{ slot.shiftName }}</td>
                    <td>{{ slot.startTime }}</td>
                    <td>{{ slot.endTime }}</td>
                    <td>{{ slot.sectionName }}</td>
                </tr>
            </tbody>
        </table>
    </ng-template>
</p-dialog> -->

<p-confirmdialog [style]="{ width: '450px' }">