<p-toast></p-toast>
<div class="flex flex-col md:flex-row gap-8">

    <div class="md:w-4/5">
        <div class="card" [style]="{ height: 'calc(100vh - 12rem)'}">
            <p-table #dt [value]="schools()" [rows]="100" [columns]="cols" [paginator]="true" [showGridlines]="true"
                [globalFilterFields]="['schoolID', 'schoolName', 'address', 'createdBy', 'status', 'code', 'date_created']"
                [tableStyle]="{ 'min-width': '60rem', 'table-layout': 'fixed' }" [(selection)]="selectSchools"
                [rowHover]="true" dataKey="schoolID"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} schools"
                [showCurrentPageReport]="true" [rowsPerPageOptions]="[100, 500, 1000, 2000]" scrollable="true" scrollHeight="flex"
                paginatorDropdownAppendTo="body" (selectionChange)="onSchoolSelectionChange($event)">

                <ng-template pTemplate="caption">

                    <div class="flex row justify-center">
                        <h5 class="m-0">Manage Schools</h5>
                    </div>

                    <div class="flex items-center justify-between">
                        <div class="flex row">
                            <p-button *ngIf="c" label="New" icon="pi pi-plus" severity="primary" class="mr-2"
                                (onClick)="openNew()" />
                            <!-- <p-button severity="secondary" label="Delete" icon="pi pi-trash" outlined
                            (onClick)="deleteSelected()" [disabled]="!selectSchools || !selectSchools.length" /> -->
                        </div>
                        <p-iconfield>
                            <p-inputicon styleClass="pi pi-search" />
                            <input pInputText type="text" [(ngModel)]="filter" (input)="onGlobalFilter(dt)"
                                placeholder="Search..." />
                            @if (filter && filter.length > 0) {
                            <p-inputicon styleClass="pi pi-times cursor-pointer" style="margin-left: -1.5rem;"
                                (click)="clear(dt)" />
                            }
                            <p-button label="Export" class="mx-2" icon="pi pi-upload" severity="info" rounded="true"
                                pTooltip="Export" (onClick)="exportCSV()" />
                            <p-button icon="pi pi-refresh" severity="help" rounded="true" pTooltip="Reload"
                                (click)="loadSchools()" />
                        </p-iconfield>

                    </div>
                </ng-template>
                <ng-template #header>
                    <tr>
                        <th style="width: 3rem">
                            <p-tableHeaderCheckbox />
                        </th>
                        <th pSortableColumn="schoolID" style="max-width: 1rem">School ID
                            <p-sortIcon field="schoolID" />
                        </th>
                        <th pSortableColumn="schoolName" style="min-width:3rem">
                            School
                            <p-sortIcon field="schoolName" />
                        </th>
                        <th pSortableColumn="address" style="min-width:10rem">
                            Address
                            <p-sortIcon field="address" />
                        </th>
                        <th pSortableColumn="coordinator" style="min-width:3rem">
                            Coordinator
                            <p-sortIcon field="coordinator" />
                        </th>
                        <th pSortableColumn="status" style="min-width:10rem">
                            Status
                            <p-sortIcon field="status" />
                        </th>
                        <th pSortableColumn="code" style="min-width:10rem">
                            Code
                            <p-sortIcon field="code" />
                        </th>
                        <th pSortableColumn="date_created" style="min-width:10rem">
                            Date Created
                            <p-sortIcon field="date_created" />
                        </th>
                        <th style="min-width: 10rem" *ngIf="c||r||d||s">Action</th>
                    </tr>
                </ng-template>
                <ng-template #body let-school>
                    <tr>
                        <td style="width: 3rem">
                            <p-tableCheckbox [value]="school" />
                        </td>
                        <td style="max-width: 1rem">{{ school.schoolID }}</td>
                        <td style="min-width: 3rem">{{ school.schoolName }}</td>
                        <td style="min-width: 10rem">{{ school.address }}</td>
                        <td style="min-width: 3rem">{{ school.createdBy }}</td>
                        <td style="min-width: 3rem">
                            <p-tag [value]="getStatus(school.status,'value')"
                                [severity]="getStatus(school.status,'severirty')" styleClass="dark:bg-surface-900!" />
                        </td>
                        <td style="min-width: 3rem">{{ school.code }}
                            <p-button icon="pi pi-copy" [rounded]="true"
                                [outlined]="false" pTooltip="Copy Code" tooltipPosition="top" severity="secondary"
                                (click)="copyCode(school.code)" />
                        </td>
                        <td style="min-width: 3rem">{{ dateFormat(school.date_Created) }}</td>
                        <td style="min-width: 10rem" *ngIf="c||r||d||s">
                                <p-button *ngIf="r" class="m-1" icon="pi pi-pencil" [rounded]="true" [outlined]="true"
                                    pTooltip="Edit" tooltipPosition="top" (click)="edit(school)" />
                                @if (school.status === 0 && s)   {
                                <p-button class="m-1" icon="pi pi-trash" severity="danger" pTooltip="Delete" tooltipPosition="top"
                                    [rounded]="true" [outlined]="true" (click)="delete(school)" />
                                <p-button class="m-1" icon="fa fa-thumbs-up" severity="info" pTooltip="Approve Account"
                                    tooltipPosition="top" [rounded]="true" [outlined]="true"
                                    (click)="changeStatus(1, school)" />
                                    <p-button class="m-1" icon="fa fa-times" severity="danger" pTooltip="Suspend School"
                                    tooltipPosition="top" [rounded]="true" [outlined]="true"
                                    (click)="changeStatus(3, school)" />
                                }@else if(school.status === 2  && s){
                                    <p-button class="m-1" icon="fa fa-thumbs-up" severity="info" pTooltip="Approve Account"
                                    tooltipPosition="top" [rounded]="true" [outlined]="true"
                                    (click)="changeStatus(1, school)" />
                                }@else if(school.status === 1  && s){
                                    <p-button class="m-1" icon="fa fa-ban" severity="secondary" pTooltip="Inactive School"
                                    tooltipPosition="top" [rounded]="true" [outlined]="true"
                                    (click)="changeStatus(2, school)" />
                                }
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>


    <!-- SUBMENU -->
    <div class="md:w-1/5">
        <div class="card" [style]="{ height: 'calc(100vh - 12rem)'}">
            <div class="">
                <h5 class="m-0">Sub Component</h5>
                <!-- 
                <ul class="layout-menu">
                    <ng-container *ngFor="let item of subcomponent; let i = index">
                        <li app-menuitem *ngIf="!item.separator" [item]="item" [index]="i" [root]="true"></li>
                        <li *ngIf="item.separator" class="menu-separator"></li>
                    </ng-container>
                </ul>
                 -->
                <p-panelmenu [model]="subcomponent" />
            </div>

            <!--             
            <div class="h-1/2">
                <div class="font-semibold text-xl mb-4">Properties</div>
                <p-panelmenu [model]="properties" />
            </div> -->

            <!-- <div class="h-1/2">
                <h5 class="m-0">Properties</h5>
                <p-tieredMenu [model]="properties" class="w-full"></p-tieredMenu>
            </div> -->

        </div>
    </div>

</div>

<p-dialog [(visible)]="itemDialog" [style]="{ width: '450px' }" header="School Details" [modal]="true">
    <ng-template #content>
        <div class="flex flex-col gap-6">
            <form [formGroup]="form" ng-reflect-form="[object Object]">
                <div>
                    <label for="schoolName" class="block font-bold mb-3">School Name</label>
                    <input type="text" pInputText id="schoolName" name="schoolName" formControlName="schoolName"
                        required autofocus fluid />
                    <small class="flex flex-row w-full justify-end text-red-500"
                        *ngIf="form.get('schoolCode')?.hasError('required') && form.get('schoolCode')?.touched">
                        Name is
                        required.</small>
                    <label for="address" class="block font-bold mb-3">School Address</label>
                    <textarea id="address" pTextarea name="address" formControlName="address" required rows="3"
                        cols="20" fluid></textarea>
                    <small class="flex flex-row w-full justify-end text-red-500"
                        *ngIf="form.get('address')?.hasError('required') && form.get('address')?.touched">
                        Address is
                        required.</small>
                </div>
                <div>
                    <input type="text" pInputText id="userID" name="userID" formControlName="userID" hidden />
                </div>

            </form>
        </div>
    </ng-template>

    <ng-template #footer>
        <p-button label="Cancel" severity="secondary" icon="pi pi-times" text (click)="hideDialog()" />
        <p-button label="Save" icon="pi pi-check" (click)="save()" />
    </ng-template>
</p-dialog>

<p-dialog [(visible)]="assignDialog" header="Assign Coordinator" [modal]="true" [style]="{width: '25vw',}"
    [closable]="true" [draggable]="true" [contentStyle]="{'height':'calc(100% - 60px)', 'overflow':'auto'}">

    <ng-template #content>
        <div class="flex flex-row gap-4">

            <div class="flex flex-wrap gap-2" *ngIf="selectSchools.length > -1; else noSelection">
                <ng-container id="schools" name="schools" *ngFor="let school of selectSchools">
                    <!-- School name -->
                    <p-tag [value]="school.schoolName" class="mr-2 mb-2 px-3 py-2 rounded-2xl shadow-lg bg-slate-100"
                        severity="success">
                    </p-tag>
                </ng-container>

                <p-select [options]="coordinators" filter="true" optionLabel="fullname" optionValue="userID"
                    placeholder="Select Coordinator" [(ngModel)]="coordinatorID" appendTo="body"
                    class="w-full"></p-select>
            </div>

            <ng-template #noSelection>
                <p class="text-center text-gray-500 italic">No schools selected.</p>
            </ng-template>
        </div>
    </ng-template>


    <!-- Footer -->
    <ng-template pTemplate="footer">
        <div class="flex justify-end gap-3 w-full">
            <p-button label="Cancel" severity="secondary" icon="pi pi-times" text (click)="hideDialog()" />
            <p-button label="Assign" icon="pi pi-check" (click)="saveAssignCoor()" />
        </div>
    </ng-template>
</p-dialog>

<p-confirmdialog [style]="{ width: '450px' }">