<div class="flex flex-col md:flex-row gap-8"  >
    <div class="md:w-4/5">
        <div class="card" [style]="{ height: 'calc(100vh - 12rem)'}">
            <p-table #dt [value]="users()" [rows]="100" [columns]="cols" [paginator]="true" [rowHover]="true" 
                [showGridlines]="true"
                [globalFilterFields]="['userID', 'fullname', 'email', 'roleName', 'status', 'date_Created']"
                [tableStyle]="{ 'min-width': '60rem', 'table-layout': 'fixed' }" [(selection)]="selectedUsers" 
                dataKey="userID" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} sections"
                [showCurrentPageReport]="true" [rowsPerPageOptions]="[100, 500, 1000, 2000]" 
                paginatorDropdownAppendTo="body" scrollable="true" scrollHeight="calc(100vh - 28rem)"
                (selectionChange)="onUserSelectionChange($event)">

                <ng-template pTemplate="caption">
                    <div class="flex row justify-center">
                        <h5 class="m-0">Manage Users</h5>
                    </div>
                    <div class="flex items-center justify-between">
                        <div class="flex row">
                            <p-button label="New" icon="pi pi-plus" severity="secondary" class="mr-2"
                                (onClick)="openNew()" />
                            <!-- <p-button severity="secondary" label="Delete" icon="pi pi-trash" outlined
                                (onClick)="deleteSelected()" [disabled]="!selectUsers || !selectUsers.length" /> -->
                        </div>
                        <p-iconfield>
                            <p-inputicon styleClass="pi pi-search" />
                            <input pInputText type="text" [(ngModel)]="filter" (input)="onGlobalFilter(dt)"
                                placeholder="Search..." />
                            @if (filter && filter.length > 0) {
                            <p-inputicon styleClass="pi pi-times cursor-pointer" style="margin-left: -1.5rem;"
                                (click)="clear(dt)" />
                            }
                            <p-button label="Export" class="mx-2" icon="pi pi-upload" severity="info" rounded="true"
                                pTooltip="Export" (onClick)="exportCSV()" />
                            <p-button icon="pi pi-refresh" severity="help" rounded="true" pTooltip="Reload"
                                (click)="loadUsers()" />
                        </p-iconfield>

                    </div>
                </ng-template>
                <ng-template #header>
                    <tr>
                        <th style="width: 3rem">
                            <p-tableHeaderCheckbox />
                        </th>
                        <th pSortableColumn="userID" style="width: 8rem">User ID
                            <p-sortIcon field="userID" />
                        </th>
                        <th pSortableColumn="fullname">
                            Fullname
                            <p-sortIcon field="fullname" />
                        </th>
                        <th pSortableColumn="email"style="width: 15rem">
                            Email
                            <p-sortIcon field="email" />
                        </th>
                        <th pSortableColumn="roleName" style="width: 8rem">
                            <div class="flex justify-between items-center">
                                Role
                                <p-columnFilter field="rolename" matchMode="in" display="menu"
                                    [showMatchModes]="false" [showOperator]="false" [showAddButton]="false">

                                    <ng-template #header>
                                        <div class="px-3 pt-3 pb-0">
                                            <span class="font-bold">Role Picker</span>
                                        </div>
                                    </ng-template>

                                    <ng-template #filter let-value let-filter="filterCallback">
                                        <p-multiSelect [ngModel]="value" [options]="roles"
                                            optionLabel="roleName" optionValue="roleName" placeholder="Any"
                                            class="w-full" (onChange)="filter($event.value)">
                                        </p-multiSelect>
                                        
                                    </ng-template>
                                    

                                </p-columnFilter>
                            </div>
                        </th>
                        <th pSortableColumn="status" style="min-width:7rem">
                            <div class="flex justify-between items-center">
                                Status
                                <p-columnFilter field="status" matchMode="in" display="menu"
                                    [showMatchModes]="false" [showOperator]="false" [showAddButton]="false">

                                    <ng-template #header>
                                        <div class="px-3 pt-3 pb-0">
                                            <span class="font-bold">Status Picker</span>
                                        </div>
                                    </ng-template>

                                    <ng-template #filter let-value let-filter="filterCallback">
                                        <p-multiSelect [ngModel]="value" [options]="headStatuses" optionLabel="label"
                                            optionValue="value" placeholder="Any" class="w-full"
                                            (onChange)="filter($event.value)">
                                        </p-multiSelect>
                                    </ng-template>

                                </p-columnFilter>
                            </div>
                        </th>
                        <th pSortableColumn="date_created" style="width: 8rem">
                            Date Created
                            <p-sortIcon field="date_created" />
                        </th>
                        <th style="width: auto">Action</th>
                    </tr>
                </ng-template>
                <ng-template #body let-user>
                    <tr>
                        <td pFrozenColumn>
                            <p-tableCheckbox [value]="user" />
                        </td>
                        <td>{{ user.userID }}</td>
                        <td>{{ user.fullname }}</td>
                        <td class="break-all">{{ user.email }}</td>
                        <td>{{ user.rolename }}</td>
                        <td>
                            <p-tag [value]="getStatus(user.status,'value')"
                                [severity]="getStatus(user.status,'severirty')" styleClass="dark:bg-surface-900!" />
                            
                        </td>
                        <td>{{ dateFormat(user.date_Created) }}</td>
                        <td class="flex justify-content gap-2">
                            <p-button icon="pi pi-pencil" [rounded]="true" [outlined]="true"
                                pTooltip="Edit" tooltipPosition="top" (click)="edit(user)" />
                            @if (user.status == 'U') {
                            <p-button icon="pi pi-trash" severity="danger" [rounded]="true"
                                [outlined]="true" pTooltip="Delete" tooltipPosition="top" (click)="delete(user)" />

                            }
                            <p-button icon="pi pi-key" severity="warn" [rounded]="true" [outlined]="true"
                                pTooltip="Change Password" tooltipPosition="top" (click)="changePassword(user)" />
                                
                            @if (user.status == 'U') {
                            <p-button icon="pi pi-send" severity="info" [rounded]="true" [outlined]="true" (click)="resendVerification(user)"
                                pTooltip=" Resend Verification?" tooltipPosition="top"/>
                            }@else if (user.status == 'P') {
                            <p-button  icon="pi pi-thumbs-up-fill" severity="info" [rounded]="true" [outlined]="true" (click)="approve(user)" 
                                pTooltip=" Approve Account?" tooltipPosition="top"/>
                            }
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
    <!-- SUBMENU -->
    <div class="md:w-1/5">
        <div class="card" [style]="{ height: 'calc(100vh - 12rem)'}">
            <set-users-sidebar [users]="users()" [selectedUsers]="selectedUsers"
                (statusChanged)="onStatusChanged()"></set-users-sidebar>
        </div>
    </div>

</div>

<!-- Post User -->
<p-dialog [(visible)]="itemDialog" [style]="{ width: '450px' }" header="User Details" [modal]="true">
    <ng-template #content>
        <div class="flex flex-col gap-6">
            <form [formGroup]="form" ng-reflect-form="[object Object]">
                <div>

                    <input type="text" pInputText id="userID" name="userID" formControlName="userID" hidden />

                    <label for="lastname" class="block font-bold mb-3">Lastname</label>
                    <input type="text" pInputText id="lastname" name="lastname" formControlName="lastname" required
                        autofocus fluid />
                    <small class="text-red-500" *ngIf="submitted && !form.value['lastname']"> Lastname is
                        required.</small>
                    <label for="firstname" class="block font-bold mb-3">Firstname</label>
                    <input type="text" pInputText id="firstname" name="firstname" formControlName="firstname" required
                        autofocus fluid />
                    <small class="text-red-500" *ngIf="submitted && !form.value['firstname']"> Firstname is
                        required.</small>
                    <label for="middlename" class="block font-bold mb-3">Middlename</label>
                    <input type="text" pInputText id="middlename" name="middlename" formControlName="middlename"
                        required autofocus fluid />
                    <small class="text-red-500" *ngIf="submitted && !form.value['middlename']"> Middlename is
                        required.</small>

                    <label for="email" class="block font-bold mb-3">Email</label>
                    <input type="text" pInputText id="email" name="email" formControlName="email" required autofocus
                        fluid />
                    <small class="text-red-500" *ngIf="submitted && (!form.value['email'] || isEmailInvalid())"> Valid
                        Email is
                        required.</small>
                    <div class="flex flex-row gap-2 item-center justify-end mt-2">
                        <p-check-box id="autoUsername" formControlName="autoUsername"
                            (onChange)="toggleAutoUsername($event)" binary="true" label="Auto-generate username"
                            binary="true" />

                        <small class="text-cyan-500">Copy Email ID to Username</small>
                    </div>

                    <div class="flex flex-row gap-6 items-start mt-2">

                    <!-- QR Code -->
                    <div *ngIf="user?.userID && user?.roleID === 'UGR0004'" class="shrink-0 text-center cursor-pointer" (click)="openQrZoom()">
                        <qrcode
                            [qrdata]="user.userID"
                            [width]="120"
                            [errorCorrectionLevel]="'M'"
                            cssClass="bg-white p-2 rounded shadow"></qrcode>
                    </div>

                    <!-- Form Fields -->
                    <div class="flex-1 space-y-4">

                        <!-- Username -->
                        <div>
                            <label for="username" class="block font-bold mb-2">Username</label>
                            <input type="text" pInputText id="username" name="username" formControlName="username"
                                    (keyup)="filterSpace()" required autofocus class="w-full p-2 border rounded" />
                            <small class="text-red-500" *ngIf="submitted && !form.value['username']">Username is required.</small>
                        </div>

                        <!-- Role -->
                        <div>
                            <label for="roleID" class="block font-bold mb-2">Role</label>
                            <p-select inputId="roleID" [options]="roles" formControlName="roleID" optionLabel="roleName"
                                        optionValue="roleID" placeholder="Select a Role" [appendTo]="'body'" styleClass="w-full">
                            </p-select>
                            <small class="text-red-500" *ngIf="submitted && !form.value['roleID']">Role is required.</small>
                        </div>

                        <!-- Hospital (conditional) -->
                        <div *ngIf="form.get('roleID')?.value === 'UGR0005'">
                            <label for="hospitals" class="block font-bold mb-2">Hospitals</label>
                            <p-select id="hospitals" [options]="hospitals" optionLabel="hospitalName"
                                        optionValue="hospitalID" appendTo="body" formControlName="hospitalID"
                                        (onChange)="selectedHospital($event.value)" placeholder="Select Hospital"
                                        styleClass="w-full">
                            </p-select>
                            <small class="text-red-500" *ngIf="submitted && form.get('hospitalID')?.invalid">
                                Hospital is required.
                            </small>
                        </div>
                        <!-- School (conditional) -->
                        <div *ngIf="form.get('roleID')?.value === 'UGR0003' || form.get('roleID')?.value === 'UGR0004'  || form.get('roleID')?.value === 'UGR0006'">
                            <label for="schools" class="block font-bold mb-2">Schools</label>
                            <p-select id="schools" [options]="schools" optionLabel="schoolName"
                                        optionValue="schoolID" appendTo="body" formControlName="schoolID"
                                        (onChange)="selectedSchool($event.value)" placeholder="Select School"
                                        styleClass="w-full">
                            </p-select>
                            <small class="text-red-500" *ngIf="submitted && form.get('schoolID')?.invalid">
                                School is required.
                            </small>
                        </div>

                    </div>
                    </div>
                    



                    <!-- @if(allocations.length > 0 && form.value['roleID'] === 'UGR0005')
                    {
                    <div *ngIf="allocations.length > 0">
                        <label for="shifts" class="block font-bold mb-3">Sections</label>
                        <p-multiSelect styleClass="w-full" formControlName="allocationID" [options]="allocations"
                            optionLabel="sectionName" optionValue="allocationID" placeholder="Select Section"
                            display="chip" [filter]="true" appendTo="body" fluid placeholder="Select Section(s)">

                            <ng-template pTemplate="selectedItems" let-selected>
                                <div class="flex flex-wra
                                p gap-2">
                                    <div *ngFor="let allocation of selected"
                                        class="inline-flex items-center py-1 px-2 bg-primary text-white rounded-lg">
                                        {{ allocation.sectionName }}
                                    </div>
                                </div>
                            </ng-template>

                            <ng-template pTemplate="item" let-allocation>
                                <div class="flex items-center gap-2">
                                    <span>{{ allocation.sectionName }}</span>
                                    <small class="text-gray-500">({{ allocation.allocation }})</small>
                                </div>
                            </ng-template>

                        </p-multiSelect>
                    </div>
                    } -->

                </div>
            </form>
        </div>
    </ng-template>

    <ng-template #footer>
        <p-button label="Cancel" icon="pi pi-times" text (click)="hideDialog()" />
        <p-button label="Save" icon="pi pi-check" (click)="save()" />
    </ng-template>
</p-dialog>

<p-dialog [(visible)]="changePassDialog" [style]="{ width: '450px' }" header="Change Password" [modal]="true">
    <ng-template #content>
        <div class="flex flex-col gap-3">
            <label>New Password</label>
            <p-password id="password" placeholder="Password" [(ngModel)]="newPassword" name="password"
                placeholder="Enter new password" [toggleMask]="true" styleClass="mb-4" [fluid]="true" 
                [feedback]="false">
                </p-password>

            <small class=" text-red-500 mt-1" *ngIf="isPasswordInvalid()">
                Password is required.
                </small>
        </div>

    </ng-template>

    <ng-template #footer>
        <p-button label="Cancel" icon="pi pi-times" text (click)="hideDialog()" />
        <p-button label="Save" icon="pi pi-check" (click)="updatePassword()" />
    </ng-template>
</p-dialog>


<p-dialog [(visible)]="showQrModal" [style]="{ width: 'auto' }"
    header="QR Code" [modal]="true">
    <ng-template #content>
        <qrcode
            [qrdata]="user.userID"
            [width]="260"
            [errorCorrectionLevel]="'M'"></qrcode>
        <p class="text-center  text-primary">
            Use this QR code for Attendance.
        </p>
    </ng-template>

</p-dialog>

<p-confirmDialog [style]="{ width: '450px' }" acceptIcon="pi pi-check text-white" rejectIcon="pi pi-times text-white"
    acceptButtonStyleClass="bg-green-600 hover:bg-green-700 text-white font-medium px-4 py-2 rounded-lg transition "
    rejectButtonStyleClass="bg-red-600 hover:bg-red-700 text-white font-medium px-4 py-2 rounded-lg transition">
</p-confirmDialog>