
<section id="hospitals" class="pt-24 bg-white dark:bg-slate-900">
    <div class="container mx-auto px-6 text-center">
        <h2
            data-aos="fade-up"
            class="font-display text-3xl font-bold text-slate-900 dark:text-white mb-4">
            Our Team &amp; Partners
        </h2>

        <p
            data-aos="fade-up"
            data-aos-delay="150"
            class="text-slate-500 dark:text-slate-400">
            Creating a connected healthcare system where public hospitals share
            knowledge and resources.
        </p>

        <div
            class="grid grid-cols-1 md:grid-cols-2 gap-12 place-items-center my-10">
            <div
                data-aos="zoom-in"
                data-aos-delay="200"
                class="space-y-4 text-center max-w-sm">
                <div
                    class="h-40 bg-slate-100 dark:bg-slate-800 rounded-2xl flex items-center justify-center overflow-hidden mx-auto">
                    <img
                        src="assets/images/ddn.png"
                        alt="carmen-zone-Logo"
                        class="w-24 h-24 sm:w-28 sm:h-28 object-contain" />
                </div>

                <h5 class="text-xl font-bold text-slate-800 dark:text-white">
                    Province of Davao del Norte
                </h5>

                <p class="text-sm text-slate-500 dark:text-slate-400 px-6">
                    Serving the central district as a primary training ground
                    for medical
                    students.
                </p>
            </div>

            <div
                data-aos="zoom-in"
                data-aos-delay="350"
                class="space-y-4 text-center max-w-sm">
                <div
                    class="h-40 bg-slate-100 dark:bg-slate-800 rounded-2xl flex items-center justify-center overflow-hidden mx-auto">
                    <img
                        src="assets/images/peedo.png"
                        alt="carmen-zone-Logo"
                        class="w-24 h-24 sm:w-28 sm:h-28 object-contain" />
                </div>

                <h5 class="text-xl font-bold text-slate-800 dark:text-white">
                    PEEDO
                </h5>

                <p class="text-sm text-slate-500 dark:text-slate-400 px-6">
                    Serving the central district as a primary training ground
                    for medical
                    students.
                </p>
            </div>

        </div>

        <div class="grid grid-cols-1 md:grid-cols-3 gap-12">
            <div data-aos="fade-right" data-aos-delay="100" class="space-y-4">
                <div
                    class="h-40 bg-slate-100 dark:bg-slate-800 rounded-2xl flex items-center justify-center overflow-hidden">
                    <img src="assets/images/ddn-cz.png" alt="carmen-zone-Logo"
                        class="h-30 w-30 " />
                </div>
                <h5
                    class="text-xl font-bold text-slate-800 dark:text-white">Carmen
                    Zone Hospital</h5>
                <p
                    class="text-sm text-slate-500 dark:text-slate-400 px-6">Serving
                    the central district as a primary training ground for
                    medical
                    students.</p>
            </div>
            <div data-aos="fade-up" data-aos-delay="200" class="space-y-4">
                <div
                    class="h-40 bg-slate-100 dark:bg-slate-800 rounded-2xl flex items-center justify-center overflow-hidden">
                    <img src="assets/images/ddn-kz.png" alt="kapalong-zone-Logo"
                        class="h-30 w-30 " />
                </div>
                <h5
                    class="text-xl font-bold text-slate-800 dark:text-white">Kapalong
                    Zone Hospital</h5>
                <p
                    class="text-sm text-slate-500 dark:text-slate-400 px-6">Specialized
                    clinical areas offering diverse experience for nursing and
                    allied
                    health.</p>
            </div>
            <div data-aos="fade-left" data-aos-delay="300" class="space-y-4">
                <div
                    class="h-40 bg-slate-100 dark:bg-slate-800 rounded-2xl flex items-center justify-center overflow-hidden">
                    <img src="assets/images/ddn-cz.png" alt="samal-zone-Logo"
                        class="h-30 w-30 " />
                </div>
                <h5
                    class="text-xl font-bold text-slate-800 dark:text-white">IGACOS
                    Zone Hospital</h5>
                <p
                    class="text-sm text-slate-500 dark:text-slate-400 px-6">Island
                    Garden City facility providing essential healthcare services
                    and
                    student exposure.</p>
            </div>
        </div>

    </div>

    <!-- Our Team & Partners -->
    <div
        class="max-w-7xl mx-auto px-8 mt-24 pt-20 border-t bg-black/900 dark:bg-surface-900/60  border-slate-100 dark:border-slate-800"
        id="partners">
        <div
            class="flex flex-col lg:flex-row justify-between items-end mb-16 gap-8">
            <div class="max-w-2xl">
                <h2 class="text-4xl font-black text-on-surface mb-4">Team Members & Experts</h2>
                <p class="text-on-surface-variant text-lg">Our team combines
                    decades of medical expertise with a passion for
                    transformative education.</p>
            </div>
            <!-- <div class="flex gap-4">
                <div
                    class="w-12 h-12 rounded-full border border-outline-variant flex items-center justify-center hover:bg-primary hover:text-on-primary transition-colors cursor-pointer">
                    <i class="pi pi-arrow-left"></i>
                </div>
                <div
                    class="w-12 h-12 rounded-full border border-outline-variant flex items-center justify-center hover:bg-primary hover:text-on-primary transition-colors cursor-pointer">
                    <i class="pi pi-arrow-right"></i>
                </div>
                <img class="avatar" src="../LeaveTool/UserImage/DB202206011118130320" width="60px" height="60px">
            </div> -->
        </div>
        <div class="grid md:grid-cols-6 gap-6">
            <!-- Team Member -->
            <div class="relative group">
                <div
                    class="rounded-[2rem] overflow-hidden aspect-[3/4] mb-4">
                    
                    <img
                        class="w-full h-full object-cover transition-transform duration-500 group-hover:scale-110"
                        data-alt="department-head-profile-picture"
                        src="assets/images/team/basalo512x512.png" />
                </div>
                <h6 class="font-black font-bold text-xl text-on-surface">Dr. Dominic R. Basalo</h6>
                <p
                    class="text-primary font-bold italic text-sm tracking-wide">Department Head</p>
            </div>
            <div class="relative group">
                <div
                    class="rounded-[2rem] overflow-hidden aspect-[3/4] mb-4">
                    <img
                        class="w-full h-full object-cover transition-transform duration-500 group-hover:scale-110"
                        data-alt="sao-profile-picture"
                        src="assets/images/team/shalove.png" />
                </div>
                <h6 class="font-black font-bold text-xl text-on-surface">Shalove C. Getizo, RN, MAHA</h6>
                <p
                    class="text-primary font-bold italic text-sm tracking-wide">Supervising Administrative Officer</p>
            </div>
            <div class="relative group">
                <div
                    class="rounded-[2rem] overflow-hidden aspect-[3/4] mb-4">
                    <img
                        class="w-full h-full object-cover transition-transform duration-500 group-hover:scale-110"
                        data-alt="admin-profile-picture"
                        src="assets/images/team/caballero.png" />
                </div>
                <h6 class="font-black font-bold text-xl text-on-surface">Jorey Jane N. Caballero</h6>
                <p
                    class="text-primary font-bold italic text-sm tracking-wide">Administrative Aide VI</p>
            </div>
            <div class="relative group">
                <div
                    class="rounded-[2rem] overflow-hidden aspect-[3/4] mb-4">
                    <img
                        class="w-full h-full object-cover transition-transform duration-500 group-hover:scale-110"
                        data-alt="kapalong-supervisor-profile-picture"
                        src="assets/images/team/default-profile.png" />
                </div>
                <h6 class="font-black font-bold text-xl text-on-surface">Eutiqio Crizaldo, Jr., RN</h6>
                <p
                    class="text-primary font-bold italic text-sm tracking-wide">Nursing Supervisor (Kapalong)</p>
            </div>
            <div class="relative group">
                <div
                    class="rounded-[2rem] overflow-hidden aspect-[3/4] mb-4">
                    <img
                        class="w-full h-full object-cover transition-transform duration-500 group-hover:scale-110"
                        data-alt="kapalong-supervisor-profile-picture"
                        src="assets/images/team/gildo.png" />
                </div>
                <h6 class="font-black font-bold text-xl text-on-surface">Marlon B. Gildo, RN</h6>
                <p
                    class="text-primary font-bold italic text-sm tracking-wide">Nursing Supervisor (Carmen)</p>
            </div>
            <div class="relative group">
                <div
                    class="rounded-[2rem] overflow-hidden aspect-[3/4] mb-4">
                    <img
                        class="w-full h-full object-cover transition-transform duration-500 group-hover:scale-110"
                        data-alt="samal-supervisor-profile-picture"
                        src="assets/images/team/torculas.png" />
                </div>
                <h6 class="font-black font-bold text-xl text-on-surface">Allan JR. L. Torculas, RN, MAN</h6>
                <p
                    class="text-primary font-bold italic text-sm tracking-wide">Nursing Supervisor (Samal)</p>
            </div>
        </div>
    </div>

    <div class="container-fluid mx-auto px-6 py-24 text-center">
        <div class="container mx-auto px-6 text-center">
            <div id="schools"
                class="pt-16 border-t bg-black/900 dark:bg-surface-900/60  border-slate-100 dark:border-slate-800">
                <h6 data-aos="fade-up"
                    class="text-sm font-semibold text-slate-400 uppercase tracking-widest">Our
                    Trusted Academic Partners</h6>
                <div class="flex items-center justify-center gap-3 my-6">
                    <span
                        class="block h-px w-8 bg-gradient-to-r from-transparent to-primary opacity-60"></span>
                    <span class="block h-px w-16 bg-primary"></span>
                    <span
                        class="block w-2 h-2 rounded-full bg-primary shadow-[0_0_8px_2px] shadow-primary/50"></span>
                    <span class="block h-px w-16 bg-primary"></span>
                    <span
                        class="block h-px w-8 bg-gradient-to-l from-transparent to-primary opacity-60"></span>
                </div>

                <div
                    class="flex flex-wrap justify-center items-center gap-12 mt-10">
                    <div
                        class="flex items-center space-x-2 text-slate-400 font-bold text-xl">
                        <img data-aos="fade-up" data-aos-delay="100"
                            src="assets/images/arriesgado.png"
                            alt="arriesgado-Logo" class="h-30 w-30 " />
                    </div>
                    <div
                        class="flex items-center space-x-2 text-slate-400 font-bold text-xl">
                        <img data-aos="fade-up" data-aos-delay="100"
                            src="assets/images/tagum-doctors.png"
                            alt="tagum-doctors-Logo" class="h-30 w-30 " />
                    </div>
                    <div
                        class="flex items-center space-x-2 text-slate-400 font-bold text-xl">
                        <img data-aos="fade-up" data-aos-delay="100"
                            src="assets/images/kcast.png" alt="KCast-Logo"
                            class="h-30 w-30 " />
                    </div>
                    <div
                        class="flex items-center space-x-2 text-slate-400 font-bold text-xl">
                        <img data-aos="fade-up" data-aos-delay="100"
                            src="assets/images/uic.png" alt="uic-Logo"
                            class="h-30 w-30 " />
                    </div>
                    <div
                        class="flex items-center space-x-2 text-slate-400 font-bold text-xl">
                        <img data-aos="fade-up" data-aos-delay="100"
                            src="assets/images/st-marys.png"
                            alt="st-marys-Logo"
                            class="h-30 w-30 " />
                    </div>
                </div>
            </div>
        </div>

    </div>

</section>