<div class="flex flex-col lg:flex-row items-center justify-between w-full px-6 lg:px-0 py-4 lg:py-0 gap-6 lg:gap-0">

    <!-- Message -->
    <!-- sm:hidden md:flex lg:flex -->
    <div class="flex flex-wrap items-center justify-center gap-3 ">
        <span
            class="text-center lg:text-left text-surface-900 dark:text-surface-0 mx-0 md:mx-0 lg:mx-0 font-normal text-2xl">
            Hey! Join to our team! Be our partner, Let's train our feature healthcare heroes!
        </span>
    </div>

    <!-- Contact + Socials -->
    <div class="flex flex-wrap items-center justify-center gap-3">
        <!-- Call Us --><a pButton icon="pi pi-phone" severity="info" rounded [size]="'small'" href="tel:+1234567890"
            pTooltip="Call Us" tooltipPosition="bottom">
        </a>

        <a pButton icon="pi pi-envelope" severity="success" rounded [size]="'small'" pTooltip="Email Us"
            tooltipPosition="bottom" href="mailto:info@example.com">
        </a>

        <a pButton icon="pi pi-map-marker" severity="warn" rounded [size]="'small'"
            href="https://maps.google.com/?q=Your+Business+Location" target="_blank" pTooltip="Visit Us"
            tooltipPosition="bottom">
        </a>

        <!-- Socials -->
        <a pButton icon="pi pi-facebook" rounded severity="secondary" [size]="'small'" href="https://facebook.com"
            target="_blank" pTooltip="Follow Us" tooltipPosition="bottom"></a>
        <a pButton icon="pi pi-twitter" rounded severity="secondary" [size]="'small'" href="https://twitter.com"
            target="_blank" pTooltip="Follow Us" tooltipPosition="bottom"></a>
        <a pButton icon="pi pi-instagram" rounded severity="secondary" [size]="'small'" href="https://instagram.com"
            target="_blank" pTooltip="Follow Us" tooltipPosition="bottom"></a>
        <a pButton icon="pi pi-linkedin" rounded severity="secondary" [size]="'small'" href="https://linkedin.com"
            target="_blank" pTooltip="Follow Us" tooltipPosition="bottom"></a>

    </div>
</div>