::ng-deep .p-confirm-dialog .p-confirm-dialog-accept {
  background-color: #4caf50 !important; /* custom green */
  border-color: #4caf50 !important;
  color: white !important;
}

/* Accept button */
.custom-accept {
  background-color: #28a745 !important; /* green */
  border: none !important;
  color: white !important;
  padding: 0.5rem 1rem !important;
  border-radius: 8px !important;
  transition: 0.3s;
}

.custom-accept:hover {
  background-color: #218838 !important;
}

/* Reject button */
.custom-reject {
  background-color: #dc3545 !important; /* red */
  border: none !important;
  color: white !important;
  padding: 0.5rem 1rem !important;
  border-radius: 8px !important;
  transition: 0.3s;
}

.custom-reject:hover {
  background-color: #c82333 !important;
}


/* Appointments */
::ng-deep .appointment-stepper {
    pointer-events: none !important;
}

.fc-daygrid-day.disabled-date {
  pointer-events: none;
  background-color: #f3f4f6;
  color: #9ca3af !important;
}

.fc-daygrid-day.active-date {
  background-color: #bbf7d0 !important;
  cursor: pointer;
}

/* Display Dialog transition */
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(1rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.5s forwards;
}

/* Custom delays for staggered effect */
.delay-100 { animation-delay: 0.1s; }
.delay-200 { animation-delay: 0.2s; }
.delay-300 { animation-delay: 0.3s; }
.delay-400 { animation-delay: 0.4s; }
.delay-500 { animation-delay: 0.5s; }

/*********************************************************/