<!-- <div class="card"
    [style.height]="tokenPayload?.role === 'UGR0001' || tokenPayload?.role === 'UGR0002' || tokenPayload?.role === 'UGR0003' || tokenPayload?.role === 'UGR0005' ? 'auto' : '870px'">  -->
<!-- 
<div class="card">

    <div class="col-span-6 xl:col-span-6 lg:col-span-6 ">
        <div
            class="flex flex row justify-between font-bold text-primary text-xl">
            Census of Schedules by Month
            <div class="flex flex-wrap gap-2">
                <p-button *ngIf="recentSchedules?.length" type="button"
                    label="Show Recent Schedules"
                    (click)="toggleDataTable(op2, $event)" />
                <p-popover #op2 id="overlay_panel"
                    [style]="{ width: '650px' }">

                    <p-table
                        [value]="recentSchedules"
                        selectionMode="single"
                        [(selection)]="selectedEvent" dataKey="slotID"
                        [showGridlines]="true"
                        [rows]="10"
                        [paginator]="false"
                        [scrollable]="true" scrollHeight="40vh"
                        (onRowSelect)="onScheduleSelect(op2, $event)">

                        <ng-template #header>
                            <tr>
                                <th>Date</th>
                                <th>School</th>
                                <th>Location</th>
                                <th>Status</th>
                            </tr>
                        </ng-template>

                        <ng-template #body let-slot>
                            <tr [pSelectableRow]="slot">
                                <td>{{ slot.dateSlot | date:'mediumDate'
                                    }}</td>
                                <td>{{ slot.schoolName }}</td>
                                <td>{{
                                    slot.hospitalName}}({{slot.sectionName}})
                                    - {{slot.shiftName}}</td>
                                <td>
                                    <p-tag
                                        [value]="getStatus(slot.slotStatus,'value')"
                                        [severity]="getStatus(slot.slotStatus,'severirty')" />
                                </td>
                            </tr>
                        </ng-template>

                    </p-table>

                    <ng-template #empty>
                        <div *ngIf="!recentSchedules?.length"
                            class="text-center p-4 text-muted-color">
                            No recent schedules found.
                        </div>
                    </ng-template>

                </p-popover>
                <p-toast />

            </div>
        </div>


        <div class="grid grid-cols-12 gap-4">

            <div class="col-span-12 xl:col-span-6">
                <div class="card" *ngIf="slots?.length !== 0">
                    <div class="font-semibold text-xl">{{ currentYear }}</div>

                    <div class="h-[420px]">
                        <p-chart
                            type="bar"
                            [data]="barData"
                            [options]="barOptions">
                        </p-chart>
                    </div>

                </div>
            </div>

            <div class="col-span-12 xl:col-span-6">
                <div class="card flex flex-col items-center">
                    <div class="font-semibold text-xl mb-4">
                        {{isAdmin() || isSupervisor() ? 'School' : 'Hospital'}}
                        Distribution
                    </div>

                    <div class="h-[420px] w-full flex justify-center">
                        <p-chart
                            type="pie"
                            [data]="pieData"
                            [options]="pieOptions">
                        </p-chart>
                    </div>

                </div>
            </div>

        </div>

        <div class="card flex flex-col items-center" *ngIf="!slots?.length">
            <div class="font-semibold text-xl mb-4">No schedule data
                available for the current year.</div>
        </div>

    </div>
</div> 
-->

<div *ngIf="loading" class="grid grid-cols-12 gap-4">

    <!-- LEFT SIDE -->
    <div class="col-span-4 lg:col-span-4 xl:col-span-8">
        <div class="grid grid-cols-12 gap-4">

            <!-- MAIN LARGE CHART CARD -->
            <div class="col-span-12">
                <div class="card space-y-4">
                    <p-skeleton width="60%" height="1.5rem"></p-skeleton>

                    <!-- Chart Skeleton -->
                    <p-skeleton height="300px" styleClass="w-full"></p-skeleton>

                    <p-skeleton width="70%" height="1.5rem"
                        class="mt-6"></p-skeleton>
                    <p-skeleton height="300px" styleClass="w-full"></p-skeleton>
                </div>
            </div>

            <!-- LINE CHART 1 -->
            <div class="col-span-12 xl:col-span-6">
                <div class="card space-y-4">
                    <p-skeleton width="80%" height="1.5rem"></p-skeleton>
                    <p-skeleton height="250px"></p-skeleton>
                </div>
            </div>

            <!-- LINE CHART 2 -->
            <div class="col-span-12 xl:col-span-6">
                <div class="card space-y-4">
                    <p-skeleton width="80%" height="1.5rem"></p-skeleton>
                    <p-skeleton height="250px"></p-skeleton>
                </div>
            </div>

        </div>
    </div>

    <!-- RIGHT SIDE -->
    <div class="col-span-4 lg:col-span-4 xl:col-span-4">
        <div class="grid grid-cols-12 gap-4">

            <!-- PIE 1 -->
            <div class="col-span-12">
                <div class="card space-y-4">
                    <p-skeleton width="70%" height="1.5rem"></p-skeleton>

                    <div class="flex justify-center">
                        <p-skeleton shape="circle" size="200px"></p-skeleton>
                    </div>
                </div>
            </div>

            <!-- PIE 2 -->
            <div class="col-span-12">
                <div class="card space-y-4">
                    <p-skeleton width="70%" height="1.5rem"></p-skeleton>

                    <div class="flex justify-center">
                        <p-skeleton shape="circle" size="200px"></p-skeleton>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="grid grid-cols-12 gap-4 mb-4" *ngIf="!loading">
    <div class="col-span-12">
        <div
            class="flex flex row justify-between font-bold text-primary text-xl">
            Analysis of Schedules as of {{ currentYear }} 

            <div class="flex flex-wrap gap-2">

                <p-select
                    [options]="years"
                    [(ngModel)]="currentYear"
                    placeholder="Select Year"
                    optionLabel="label"
                    optionValue="value"
                    (onChange)="onYearChange($event)"
                    styleClass="w-32">
                </p-select>

                <p-button *ngIf="recentSchedules?.length"
                    type="button"
                    label="Show Recent Schedules"
                    (click)="toggleDataTable(op2, $event)" />
                <p-popover #op2 id="overlay_panel"
                    [style]="{ width: '650px' }">

                    <p-table
                        [value]="recentSchedules"
                        selectionMode="single"
                        [(selection)]="selectedEvent"
                        dataKey="slotID"
                        [showGridlines]="true"
                        [rows]="10"
                        [paginator]="false"
                        [scrollable]="true" scrollHeight="40vh"
                        (onRowSelect)="onScheduleSelect(op2, $event)">

                        <ng-template #header>
                            <tr>
                                <th>Date</th>
                                <th>School</th>
                                <th>Location</th>
                                <th>Status</th>
                            </tr>
                        </ng-template>

                        <ng-template #body let-slot>
                            <tr [pSelectableRow]="slot">
                                <td>{{ slot.dateSlot |
                                    date:'mediumDate'
                                    }}</td>
                                <td>{{ slot.schoolName }}</td>
                                <td>{{
                                    slot.hospitalName}}({{slot.sectionName}})
                                    - {{slot.shiftName}}</td>
                                <td>
                                    <p-tag
                                        [value]="getStatus(slot.slotStatus,'value')"
                                        [severity]="getStatus(slot.slotStatus,'severirty')" />
                                </td>
                            </tr>
                        </ng-template>

                    </p-table>

                    <ng-template #empty>
                        <div *ngIf="!recentSchedules?.length"
                            class="text-center p-4 text-muted-color">
                            No recent schedules found.
                        </div>
                    </ng-template>

                </p-popover>
                <p-toast />

            </div>
        </div>
    </div>
</div>

<div class="grid grid-cols-12 gap-4" *ngIf="!loading">

    <div class="col-span-12 lg:col-span-12 xl:col-span-8">

        <div class="grid grid-cols-12 gap-4">

            <div class="col-span-12 lg:col-span-12 xl:col-span-12">

                <div class="card">

                    <!-- @if(isAdmin() || isSchoolCoordinator()){ -->
                    <div class="font-semibold text-xl">Trend Hospital Zone by
                        shift as of {{ currentYear }}</div>

                    <ng-container
                        *ngIf="barHospitalStackData?.datasets?.[0]?.data?.length > 0; else emptyBarHospital">

                        <p-chart
                            type="bar"
                            [data]="barHospitalStackData"
                            [options]="barHospitalStackOptions">
                        </p-chart>

                    </ng-container>

                    <ng-template #emptyBarHospital>
                        <div
                            class="text-center text-gray-500 h-[200px] flex flex-col items-center justify-center">
                            <i class="pi pi-chart-bar text-4xl mb-2"></i>
                            <div>No data available for {{ currentYear
                                }}</div>
                        </div>
                    </ng-template>

                    <!-- } -->

                    <!-- @if(isAdmin() || isSupervisor() || isSchoolCoordinator()){ -->
                    <div class="font-semibold text-xl mt-10"> Trend Department
                        by
                        Shift as of {{ currentYear }}</div>

                    <ng-container
                        *ngIf="barSectionData?.datasets?.[0]?.data?.length > 0; else emptyBarSection">

                        <p-chart
                            type="bar"
                            [data]="barSectionData"
                            [options]="barSectionOptions">
                        </p-chart>

                    </ng-container>

                    <ng-template #emptyBarSection>
                        <div
                            class="text-center text-gray-500 h-[200px] flex flex-col items-center justify-center">
                            <i class="pi pi-chart-bar text-4xl mb-2"></i>
                            <div>No data available for {{ currentYear
                                }}</div>
                        </div>
                    </ng-template>
                    
                    <!-- } -->

                </div>

            </div>

            <div
                *ngIf="isAdmin() && linearHospitalData?.datasets?.[0]?.data?.length > 0"
                class="col-span-12 lg:col-span-12 xl:col-span-6">
                <div class="card">
                    <div class="font-semibold text-xl"> Trend Shift by
                        Hospital
                        as
                        of {{ currentYear }}</div>

                    <p-chart
                        type="line"
                        [data]="linearHospitalData"
                        [options]="linearHospitalOption">
                    </p-chart>
                </div>
            </div>
            <div
                *ngIf="isAdmin()  && linearSchoolData?.datasets?.[0]?.data?.length > 0"
                class="col-span-12 lg:col-span-12 xl:col-span-6">
                <div class="card">
                    <div class="font-semibold text-xl">Trend Shift by
                        School as
                        of {{ currentYear }}</div>

                    <p-chart
                        type="line"
                        [data]="linearSchoolData"
                        [options]="linearSchoolOptions">
                    </p-chart>
                </div>
            </div>

        </div>

    </div>

    <div class="col-span-12 lg:col-span-12 xl:col-span-4">

        <div class="grid grid-cols-12 gap-4">

            <div class="col-span-12 lg:col-span-12 xl:col-span-12">
                <div class="card">
                    <div class="font-semibold text-xl">
                        {{isAdmin() || isSupervisor() ? 'School' : 'Hospital'}}
                        Distribution as of {{ currentYear }}
                    </div>

                    <div class="relative w-full flex justify-center">

                        <p-chart
                            type="pie"
                            [data]="pieSchoolData"
                            [options]="pieSchoolOptions">
                        </p-chart>

                        <div *ngIf="!pieSchoolData?.datasets?.[0]?.data?.length"
                            class="absolute inset-0 flex flex-col items-center justify-center bg-white/70 dark:bg-black/40 rounded">

                            <i class="pi pi-chart-pie text-3xl mb-2"></i>
                            <span>No data for {{ currentYear }}</span>

                        </div>

                    </div>
                </div>
            </div>

            <div class="col-span-12 lg:col-span-12 xl:col-span-12">
                <div class="card">
                    <div class="font-semibold text-xl">
                        Section Distribution as of {{ currentYear }}
                    </div>

                    <div class="relative w-full flex justify-center">

                        <p-chart
                            type="pie"
                            [data]="pieHospitalData"
                            [options]="pieHospitalOptions">
                        </p-chart>

                        <div *ngIf="!pieSchoolData?.datasets?.[0]?.data?.length"
                            class="absolute inset-0 flex flex-col items-center justify-center bg-white/70 dark:bg-black/40 rounded">

                            <i class="pi pi-chart-pie text-3xl mb-2"></i>
                            <span>No data for {{ currentYear }}</span>

                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
    <!--     
    <div class="card">
        <div
            class="flex flex row justify-between font-bold text-primary text-xl">
            Census of Schedules by Month
            <div class="flex flex-wrap gap-2">
                <p-button *ngIf="recentSchedules?.length" type="button"
                    label="Show Recent Schedules"
                    (click)="toggleDataTable(op2, $event)" />
                <p-popover #op2 id="overlay_panel"
                    [style]="{ width: '650px' }">
                    

                    <p-table
                        [value]="recentSchedules"
                        selectionMode="single"
                        [(selection)]="selectedEvent" dataKey="slotID"
                        [showGridlines]="true"
                        [rows]="10"
                        [paginator]="false"
                        [scrollable]="true" scrollHeight="40vh"
                        (onRowSelect)="onScheduleSelect(op2, $event)">

                        <ng-template #header>
                            <tr>
                                <th>Date</th>
                                <th>School</th>
                                <th>Location</th>
                                <th>Status</th>
                            </tr>
                        </ng-template>

                        <ng-template #body let-slot>
                            <tr [pSelectableRow]="slot">
                                <td>{{ slot.dateSlot | date:'mediumDate'
                                    }}</td>
                                <td>{{ slot.schoolName }}</td>
                                <td>{{
                                    slot.hospitalName}}({{slot.sectionName}})
                                    - {{slot.shiftName}}</td>
                                <td>
                                    <p-tag
                                        [value]="getStatus(slot.slotStatus,'value')"
                                        [severity]="getStatus(slot.slotStatus,'severirty')" />
                                </td>
                            </tr>
                        </ng-template>

                    </p-table>

                    <ng-template #empty>
                        <div *ngIf="!recentSchedules?.length"
                            class="text-center p-4 text-muted-color">
                            No recent schedules found.
                        </div>
                    </ng-template>

                </p-popover>
                <p-toast />

            </div>
        </div>

        <div class="grid grid-cols-12 gap-4">

            <div class="col-span-12 xl:col-span-6">
                <div class="card" *ngIf="slots?.length !== 0">
                    <div class="font-semibold text-xl">{{ currentYear }}</div>

                    <div class="h-[420px]">
                        <p-chart
                            type="bar"
                            [data]="barData"
                            [options]="barOptions">
                        </p-chart>
                    </div>

                </div>
            </div>

            <div class="col-span-12 xl:col-span-6">
                <div class="card flex flex-col items-center">
                    <div class="font-semibold text-xl mb-4">
                        {{isAdmin() || isSupervisor() ? 'School' : 'Hospital'}}
                        Distribution
                    </div>

                    <div class="h-[420px] w-full flex justify-center">
                        <p-chart
                            type="pie"
                            [data]="pieData"
                            [options]="pieOptions">
                        </p-chart>
                    </div>

                </div>
            </div>

        </div>

        <div class="card flex flex-col items-center" *ngIf="!slots?.length">
            <div class="font-semibold text-xl mb-4">No schedule data
                available for the current year.</div>
        </div>

    </div>
     -->
</div>

<!-- Schedule Details -->
<p-dialog header="Schedule Details" [(visible)]="displayEventDialog"
    [modal]="true" [closable]="true"
    [style]="{ width: '560px' }" [resizable]="false"
    [breakpoints]="{'640px':'95vw'}">

    <div *ngIf="selectedEvent" class="space-y-4">

        <!-- Animated Card -->
        <div class="rounded-lg shadow px-5 pb-10 space-y-3">

            <!-- Date Book -->
            <div
                class="flex items-center border-b pb-2 opacity-0 translate-y-4 animate-fadeIn delay-100">
                <i class="fas fa-clock mr-2 text-secondary-500"></i>
                <span
                    class="font-semibold dark:text-surface-100 text-gray-700 flex-1">Date
                    Filed</span>
                <span
                    class="text-gray-800 dark:text-surface-300 font-bold">{{
                    `${selectedEvent.date_Created | date:'MMM d, y h:mm a'}`
                    }}</span>
            </div>

            <!-- School -->
            <div
                class="flex items-center border-b pb-2 opacity-0 translate-y-4 animate-fadeIn delay-100">
                <i class="fas fa-school mr-2 text-secondary-500"></i>
                <span
                    class="font-semibold dark:text-surface-100 text-gray-700 flex-1">School</span>
                <span
                    class="text-gray-800 dark:text-surface-300 font-bold">{{
                    `${selectedEvent.schoolName}` }}</span>
            </div>

            <div
                class="flex items-center border-b pb-2 pt-2 opacity-0 translate-y-4 animate-fadeIn delay-100">
                <i class="fas fa-user mr-2 text-secondary-500"></i>
                <span
                    class="font-semibold dark:text-surface-100 text-gray-700 flex-1">Coordinator</span>
                <span
                    class="text-gray-800 dark:text-surface-300 font-bold">{{
                    `${selectedEvent.fullname}` }}</span>
            </div>

            <!-- Title -->
            <div
                class="flex items-center border-b pb-2 pt-2 opacity-0 translate-y-4 animate-fadeIn delay-100">
                <i class="fas fa-hospital mr-2 text-secondary-500"></i>
                <span
                    class="font-semibold dark:text-surface-100 text-gray-700 flex-1">Hospital
                    & Section</span>
                <span
                    class="text-gray-800 dark:text-surface-300 font-bold">{{
                    `${selectedEvent.hospitalName} -
                    ${selectedEvent.sectionName}` }}</span>
            </div>

            <!-- Shift -->
            <div
                class="flex items-center border-b pb-2 pt-2 opacity-0 translate-y-4 animate-fadeIn delay-200">
                <i class="fas fa-cloud-sun mr-2 text-secondary-500"></i>
                <span
                    class="font-semibold dark:text-surface-100 text-gray-700 flex-1">Shift</span>
                <span
                    class="p-3 bg-green-100 text-green-800 rounded-full text-sm font-bold">
                    {{ selectedEvent.shiftName }} ({{
                    formatTime(selectedEvent.startTime) | date:'shortTime'
                    }}
                    -
                    {{ formatTime(selectedEvent.endTime) | date:'shortTime'
                    }})
                </span>
            </div>

            <!-- Status -->
            <div
                class="flex items-center border-b pb-2 pt-2 opacity-0 translate-y-4 animate-fadeIn delay-200">
                <i
                    class="fas fa-circle-question mr-2 text-secondary-500"></i>
                <span
                    class="font-semibold dark:text-surface-100 text-gray-700 flex-1">Status</span>
                <p-tag
                    [value]="getStatus(selectedEvent.slotStatus, 'value')"
                    [severity]="getStatus(selectedEvent.slotStatus, 'severirty')"></p-tag>
            </div>

        </div>
    </div>

    <ng-template pTemplate="footer">
        <button pButton type="button" label="Close"
            class="p-button-secondary"
            (click)="onCloseDetails()"></button>
    </ng-template>
</p-dialog>
