$primary: #10b981;
$secondary: #94a3b8;

$danger: #dc2626;
$success: #15803d;
$info: #0ea5e9;

.text-primary, .text-success{
    color: $primary;
}
.text-danger {
  color: $danger;
}
.text-secondary{
    color: $secondary;
}
.text-info{
    color: $info;
}